.breadcrumb {
  position: absolute;
  top: 0;

  @include media-breakpoint-up(lg) {
    padding-top: 5.9375rem;
  }

  &-item {
    a {
      font-size: .6875rem;
      font-weight: 600;
      color: $dark-grey;

      @include media-breakpoint-up(md) {
        font-size: .875rem;
      }
    }

    span {
      padding-right: 10px;
      font-size: 1.125rem;
      color: $yellow;
      vertical-align: bottom;

      @include media-breakpoint-up(md) {
        padding-right: 15px;
        font-size: 1.375rem;
      }
    }
  }

}
