@mixin button($border, $background, $colour) {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: .9375rem 1.375rem;
  border: solid 3px $border;
  background-color: $background;

  color: $colour;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;

  &::after {
    content: '';
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    position: absolute;
    top: 3px;
    left: 3px;
    border: solid 3px $border;
    background-color: $white;
    z-index: -1;
  }

  &:hover, &:focus {
    color: $dark-grey;
    opacity: 1;
  }
}

.button {
  @include button($blue, $white, $dark-grey);

  &[class*="bg-is-"] {
    color: $white;
  }
}

.cookie-bar-bar button#catapultCookie {
  @include button($blue, $white, $dark-grey);
  margin-left: 1.25rem;
  border-radius: 0;
  padding: .5rem .75rem;
}
