.card-column-container {
  position: relative;
}
.card-columns {
  @include media-breakpoint-down(md) {
    justify-content: space-around;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 5rem 9.0625rem;
  }

  .card {
    margin-bottom: 2.3125rem;
    border: none;
    border-radius: 0;
    padding: 0 1.3135rem;
    width: 100%;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 5rem;
      padding: 0;
      width: 45%;
      overflow: hidden;
    }

    &:first-child {
      margin-top: 2.3125rem;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(md) {
        margin-top: 9rem;
      }
    }

    &:nth-child(2n+3) {
      @include media-breakpoint-up(md) {
        margin-top: -9rem;
      }
    }

    &:nth-child(odd) {
      @include media-breakpoint-up(lg) {
        margin-right: 4%;
        margin-left: 1%;
      }
    }

    &:nth-child(even) {
      @include media-breakpoint-up(lg) {
        margin-right: 1%;
        // margin-left: 4%;
      }
    }

    &:last-child {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    &-img__container {
      position: relative;
      margin: 2.375rem auto 0;
      width: 260px;
      height: 260px;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        margin-top: 0;
        z-index: 1;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 0.5rem;
        width: 80.26%;
        max-width: 370px;
        max-height: 370px;
      }
      @include media-breakpoint-up(xl) {
        height: 370px;
      }
    }

    &-img {
      position: absolute;
      border-radius: 0;
      width: initial;
      min-height: 260px;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      @include media-breakpoint-up(md) {
        height: 100%;
      }
    }

    &-title {
      padding: 1.0625rem 0;
      color: $white;
      font-family: $font-family-sans-serif;
      font-size: 1.125rem;
      line-height: 1.1;
      text-shadow: 0.1rem 0.1rem 1.2rem rgba(0,0,0,.25);
      @include media-breakpoint-up(lg) {
        margin: 0;
        padding: 1.5625rem 0;
        font-size: 1.5625rem;
        font-weight: 600;
        line-height: 1.2;
      }
    }

    [class*="bg-is-"] {
      position: relative;
      overflow: hidden;
    }
  }
}
// Landing page card styles

.page-template-page-landing {
  .card-container {
    justify-content: space-between;
    &:nth-child(even) {
      @include media-breakpoint-up(sm) {
        flex-direction: row-reverse;
        margin: -35px auto;
      }
      @include media-breakpoint-up(lg) {
      }
      .card {
        margin-right: 0;
      }
      .card-img__container {
        @include media-breakpoint-down(sm) {
          margin-right: 0;
        }
      }
      .card-content__container {
        @include media-breakpoint-up(md) {
          padding-left: 50px;
          text-align: right;
        }
      }
    }

    &:nth-child(odd) {
      .card-img__container {
        @include media-breakpoint-down(sm) {
          margin-left: 0;
        }
      }
      .card-content__container {
        @include media-breakpoint-up(md) {
          padding-right: 50px;
        }
        @include media-breakpoint-down(sm) {
          margin-left: 23px;
        }
      }
    }

    .card-content__container {
      @include media-breakpoint-down(sm) {
        transform: translateY(-50px) !important;
      }
    }
  }

  .card-columns {
    .card{
      &:first-child {
        margin-top: 0;
      }
      &:nth-child(2n) {
        margin: 0;
      }
    }
  }

  .card {
    margin-bottom: 0;

    &-img__container {
      @include media-breakpoint-down(sm) {
        margin: 0 auto;
        width: 93.25%;
        height: 222px;
      }
    }

    &-title {
      @include media-breakpoint-down(sm) {
        display: none;
        font-size: 1.6875rem;
      }
    }

    &-content__container {
      padding: 0.5rem 1.75rem 1.75rem;
      width: 93.25%;
      text-align: left;
      transform: translateY(-50px);
      @include media-breakpoint-up(md) {
        // margin: 0;
        padding: 0;
        transform: none;
        background-color: transparent !important;
      }

      .card-title {
        display: block;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      p {
        color: $white;
        font-size: 1.125rem;
        line-height: 1.3;
        @include media-breakpoint-up(md) {
          color: $grey;
          font-size: 1.25rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 1.4375rem;
          line-height: 1.6;
        }
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }

    &:nth-child(odd) {
      [class*="bg-is-"] {
        @include media-breakpoint-down(sm) {
          background-color: transparent !important;
        }
      }
    }
  }
}
