// Indicators
.carousel-indicators {
  right: 0;
  bottom: 1.5rem;
  left: auto;
  margin: 0;

  li {
    margin: 0 .5625rem;
    border-radius: 25px;
    width: 10px;
    height: 10px;
    background-color: $white;
  }

  .active {
    border: solid 3px $dark-grey;
    width: 12px;
    height: 12px;
    background-color: transparent;
    opacity: .85;
  }

  @include media-breakpoint-only(md) {
    display: none;
  }

  @include media-breakpoint-up(md) {
    li {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

// Control
.carousel-control {
  position: relative;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    padding-top: 1.5rem;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: relative;
  width: auto;
  opacity: 1;

  @include media-breakpoint-up(lg) {
    opacity: .5;
  }

  &:hover, &:focus {
    opacity: 1;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none;

  @include media-breakpoint-up(lg) {
    font-size: 26px;
  }
}

//inner pages
.page-carousel {
  h2 {
    color: $white;
  }

  .carousel {
    margin-bottom: 4.6875rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 8.9375rem;
    }

    &-caption {
      padding: 1.5rem;
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $white;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 0 auto;
      }

      @include media-breakpoint-up(md) {
        position: absolute;
        top: auto;
        right: 15%;
        bottom: 5%;
        left: 15%;
      }

      @include media-breakpoint-up(lg) {
        margin: auto;
        padding: 3.125rem 1.575rem 1.371rem;
        width: 60%;
        max-width: 705px;
        right: 0;
        left: 0;
        bottom: 15%;
      }

      p {
        color: $mid-grey;
        @include media-breakpoint-up(lg) {
          font-size: $font-size-base;
        }
      }

      &.has-image {

        @include media-breakpoint-up(lg) {
          max-width: 815px;
        }

      }

      &.no-image {
        h3, p {
          width: 100%;
          text-align: center;
        }
      }

      [class*="col"] {
        text-align: left;
      }

      h3 {
          @include media-breakpoint-up(lg) {
            margin-bottom: 1.075rem;
            // font-size: 1.875rem;
          }
      }

      // p {
      //   margin: 0 auto;
      //   font-size: .8125rem;
      //   color: $dark-grey;

      //   @include media-breakpoint-up(lg) {
      //     font-size: 1.125rem;
      //   }
      // }
    }

    &-item {
      padding: 1.5rem 1.6875rem 2.375rem;
      min-height: 367px;

      @include media-breakpoint-up(lg) {
        padding: 8.625rem 9.625rem 13.3125rem;
      }
    }

    img {
      display: block;
      width: 100%;
      max-height: 790px;
    }

    img,
    .carousel-control {
      margin: 0 auto;

      @include media-breakpoint-up(lg) {
        max-width: 800px;
      }

      @media (min-width: 1400px) {
        max-width: 950px;
      }
    }
  }

  // Indicators - specific styling for page carousels
  .carousel-indicators {
    right: 0;
    bottom: 2.5rem;
    left: 0;

    @include media-breakpoint-up(md) {
      bottom: .75rem;
    }

    @include media-breakpoint-up(lg) {
      bottom: 5.25rem;
    }

    li {
      margin: 0 .2188rem;
      width: 5px;
      height: 5px;

      @include media-breakpoint-up(lg) {
        margin: 0 .531rem;
        width: 10px;
        height: 10px;
      }
    }

    .active {
      border: solid 1.5px $dark-grey;
      width: 7px;
      height: 7px;

      @include media-breakpoint-up(lg) {
        border: solid 3px $dark-grey;
        width: 12px;
        height: 12px;
      }
    }
  }
}
