.comment-list {
  @extend .list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}

.comment-form {
  margin-bottom: 1.5rem;
  .form-submit {
    @extend .input-container;
  }

  input[type=submit],
  input[type=submit]:hover {
    @extend .btn;
    @extend .btn-secondary;
    padding: .5rem .75rem;
    background-color: $white;
    border: none;
    font-weight: inherit;
    color: inherit;
  }
}

// Comments toggle
.comment-toggle {
  @extend select;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
  cursor: pointer;

  &::after {
    @include fontawesome5('\f078', $dark-grey);
    position: absolute;
    right: 0;
    padding-right: 1rem;
  }

  &[aria-expanded="true"] {
    &::after {
      @include fontawesome5('\f077', $dark-grey);
    }
  }
}
