// Selects
.list-select-wrap {
  .nf-field-element {
    position: relative;

    &::before {
      @include fontawesome5("\f078", $yellow);
      position: absolute;
      top: 50%;
      left: 1.25rem;
      transform: translateY(-50%);
    }
  }

  select {
    padding-right: 1.625rem;
    padding-left: 2.9375rem;
    background-image: none; // NB: arrow icon to go here
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }
}

// Checkboxes and radios
.form-group.custom,
.list-radio-wrap li,
.list-checkbox-wrap li,
.checkbox-wrap div {
  position: relative;
  display: flex;
  min-height: (1rem * $line-height-base);
  padding-left: $custom-control-gutter;
  margin-right: $custom-control-spacer-x;

  &.inline {
    display: inline-flex;
  }
}

.list-checkbox-wrap .nf-field-element li label,
.checkbox-wrap .nf-field-element div label {
  margin-left: 1.5rem !important;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  opacity: 0;

  &:checked ~ label::before {
    color: $custom-control-indicator-checked-color;
    @include box-shadow($custom-control-indicator-checked-box-shadow);
  }

  &:focus ~ label::before {
    // the mixin is not used here to make sure there is feedback
    box-shadow: $custom-control-indicator-focus-box-shadow;
  }

  &:active ~ label::before {
    color: $custom-control-indicator-active-color;
    background-color: $custom-control-indicator-active-bg;
    @include box-shadow($custom-control-indicator-active-box-shadow);
  }

  &:disabled {
    ~ label {
      color: $custom-control-label-disabled-color;

      &::before {
        background-color: $custom-control-indicator-disabled-bg;
      }
    }
  }
}

// Custom control indicators
input[type="radio"] ~ label,
input[type="checkbox"] ~ label {
  margin-bottom: 0;

  // Background-color and (when enabled) gradient
  &::before {
    position: absolute;
    top: (($line-height-base - $custom-control-indicator-size) / 2);
    left: 0;
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    pointer-events: none;
    content: "";
    user-select: none;
    background-color: $custom-control-indicator-bg;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.04);
  }

  // Foreground (icon)
  &::after {
    position: absolute;
    top: (($line-height-base - $custom-control-indicator-size) / 2);
    left: 0;
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $custom-control-indicator-bg-size;
  }
}

input[type="checkbox"],
input[type="radio"] {
  &:checked ~ label {
    &::before {
      border: $custom-control-border-checked;
      background-color: $custom-control-bg-colour-checked;
    }
  }
}


// Checkboxes
input[type="checkbox"] {
  & ~ label::before {
    @include border-radius($custom-checkbox-indicator-border-radius);
  }

  &:checked ~ label {
    &::before {
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-checked;
    }
  }

  &:indeterminate ~ label {
    &::before {
      @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-indeterminate;
    }
  }
}

// Radios
input[type="radio"] {
  & ~ label::before {
    border-radius: $custom-radio-indicator-border-radius;
  }

  &:checked ~ label {
    &::after {
      background-image: $custom-radio-indicator-icon-checked;
    }
  }
}
