// Border used to divide sections
@mixin divider($position) {
  &::#{$position} {
    content: '';
    display: block;
    margin-top: 4.8125rem;
    margin-bottom: 3.719rem;
    border-bottom: solid 22px rgba($light-grey, .5);
    border-radius: 30px;
    width: 100%;
    opacity: .5;

    @include media-breakpoint-up(lg) {
      margin-top: 5.25rem;
      margin-bottom: 6.25rem;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .divider#{$infix}-none::after   {display: none !important;}
    .divider#{$infix}-block::after  {display: block !important;}
  }
}

.divider {
  margin-bottom: 0;
  @include divider(after);
}

.divider-before {
  @include divider(before);
}
