.documents-list {
  padding-left: 0;

  li {
    margin-bottom: 1.0625rem;
    padding: 1.5325rem 1.25rem;
    background-color: $white;
    font-size: 1.0625rem;

    a {
      color: $dark-grey;
    }

    span {
      padding-right: 1.25rem;
      font-size: 1.25rem;
    }
  }
}
