// CTA feature area
.feature {
  article {
    transform: translateY(-2.2rem);
  }

  h2 {
    margin-bottom: 1.8125rem;
    padding: 0 2px;
    font-size: 1.3125rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 2.5625rem;
      font-size: 2.25rem;
      line-height: 1.3;
    }
  }

  p {
    color: $grey;
    font-size: .9375rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.3125rem;
      line-height: 1.6;
    }
  }

  &-container {
    margin-top: 3.1875rem;
    margin-bottom: $extend-content-margin-bottom;
    border: solid 10px $yellow;
  }

  .button {
    @include media-breakpoint-up(lg) {
      padding-right: 52px;
      padding-left: 52px;
    }
  }
}

// Nurseries features on inner pages
.nursery-feature {
  img {
    max-width: 100%;

    @include media-breakpoint-only(md) {
      padding-right: 3rem;
    }
    @include media-breakpoint-up(lg) {
      max-width: 276px;
    }
  }
  p {
    color: $grey;
    margin-bottom: 0;
  }

  &:nth-child(odd) {
    article {
      @include divider(after);
    }
  }

  &:nth-child(even) {
    margin-bottom: $extend-content-margin-bottom;

    @include media-breakpoint-up(lg) {
      margin-bottom: 10rem;
    }
  }
}
