label {
  font-size: .9375rem;
  font-weight: 500;
  color: $input-color;
}

input,
select,
textarea {
  padding: .75rem;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  width: 100%;
  background-color: $input-bg;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.04);
  color: $input-color;
}

.form-group label {
  display: block;
}

input[type="button"],
input[type="submit"] {
  border: none;
  border-radius: 0;
  padding: .9375rem 1.375rem;
  box-shadow: none;
  width: auto;
  background-color: $blue;
  cursor: pointer;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }
}

// put button mixin on input container as inputs don't allow use of pseudo elements
// then just extend this onto the classes as and when
.input-container {
  width: auto !important; // important tag to overwrite NF style
  @include button($blue, $white, $dark-grey);
  padding: 0;
}

form,
.nf-form-title {
  h3 {
    @include title;
  }
}

// Search form
.search-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 75%;
  }
}
.search-form .search-field {
  @extend input;
}
.search-submit-container {
  @extend .input-container;
  margin: 1rem 0 0 0;

  @include media-breakpoint-up(md) {
    margin: 0 0 0 1rem;
  }
}

// Parent zone
.swpm-login-widget-form,
.swpm-pw-reset-widget-form {
  @extend .nf-form-cont;

  form {
    margin: 0 auto;
    max-width: 400px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
  }

  .swpm-login-submit,
  .swpm-pw-reset-submit-button {
    margin-top: 2rem;
    @extend .input-container;
  }

  .swpm-forgot-pass-link {
    margin-left: 2rem;
    display: inline-block;
  }
}

// Application form
#ninja_forms_required_items,
.nf-field-container {
  margin-bottom: 1.875rem;
}
.nf-form-cont {
  margin-top: map-get($spacers, 7);
  margin-bottom: map-get($spacers, 7);
  padding: 1.5rem;
  @include border($yellow);

  @include media-breakpoint-up(sm) {
    margin-bottom: 9.9375rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 3rem 4rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 5rem 7.5625rem;
  }

  .nf-saves-cont {
    border: none;
  }

  .label-above .nf-field-label {
    margin-bottom: 5px;
    width: 100%;
  }

  .nf-form-content {
    position: relative;

    label,
    input,
    select,
    textarea,
    .html-wrap,
    .file_upload-wrap {
      max-width: 570px;
    }

    h4 {
      margin: 0;
      border-bottom: solid 3px $yellow;
      padding-bottom: 5px;
      display: inline-block;
      font-family: $font-family-sans-serif;
      line-height: 1.4;
      text-align: left;
    }

    .nf-mp-header {
      h3 {
        @include media-breakpoint-up(lg) {
          font-size: $h1-font-size;
        }
      }
    }

    .nf-mp-body, .nf-mp-footer {
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 60%;
      }
    }

    .nf-mp-footer {
      margin-top: 4.125rem;
    }

    .nf-field-container.html-container {
      padding-top: 4.0625rem;

      p, li {
        margin-bottom: 1rem;
        // font-size: .9375rem;
        color: $dark-grey;
      }
    }

    // Input buttons
    .nf-next-previous li.nf-next-item {
      float: none;
    }

    .submit-wrap input[type="button"],
    .nf-next-previous li.nf-previous-item,
    .nf-next-previous li.nf-next-item {
      font-size: 1.0625rem;
    }

    .nf-previous-item {
      margin-right: 2rem !important;
    }

    .nf-previous-item, .nf-next-item {
      @extend .input-container;
    }

    .save-wrap .nf-field-label {
      margin-bottom: 0;
    }

    .submit-container {
      margin-top: 4.125rem;

      .nf-field-element {
        @extend .input-container;
      }
    }



    // Radio buttons / Checkboxes
    .listradio-container {

      &.inline li {
        margin-left: 1.125rem !important; // Important to counter NF styles :(
        display: inline-block;

        &:first-child {
          margin-left: 0 !important;
        }
      }
    }

    // Info description
    .nf-field-description {
      margin: 1rem 0 1.25rem;
      padding: .625rem 1.25rem .625rem .8125rem;
      width: auto;
      background-color: $yellow;
      order: 15;

      &::before {
        @include fontawesome5("\f129", $white);
        @include media-breakpoint-down(sm) {
          position: absolute;
        }
      }

      p {
        margin-left: .6875rem;
        display: inline-block;
        color: $dark-grey;
        font-size: .875rem;
        font-style: italic;
      }
    }

    // Selects
    .list-select-wrap {
      select {
        width: auto;
      }
    }

    // Sessions
    .listcheckbox-container.sessions {
      border: solid 1px $grey;
      padding: 1.25rem;
      max-width: 115px;
      display: inline-block;

      label {
        font-size: $font-size-xs;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    // File upload
    .file_upload-wrap {

      .nf-field-element {
        border: dotted 2px $light-grey;
        padding: 2.1875rem 0 0;
        width: 100%;
        max-width: 360px;
      }

      .nf-fu-fileinput-button {
        display: block;
        margin: 0 auto;
        border-color: $blue;
        border-radius: 0;
        background-color: $blue;
        color: $white;

        &::before {
          padding-right: .875rem;

          @include fontawesome5("\f0c6", $white);
        }
      }

      .nf-fu-progress {
        box-shadow: none;

        .nf-fu-progress-bar {
          background-color: $purple;
        }
      }

      p {
        margin: 0;
        text-align: center;
      }
    }

    // Contract / Terms and conditions
    .terms {
      h4 {
        margin-bottom: 2rem;
      }
      h5 {
        font-size: $font-size-base;
        margin-bottom: 1rem;
      }

      &-inner {
        border: solid 1px $light-grey;
        padding: 1.6875rem 1.5625rem .625rem;
        max-height: 376px;
        overflow: scroll;
      }
    }
  }
  // Progress bar
  .nf-progress-container {
    margin-bottom: 1.25rem;
    border: none;
    background-color: $off-white;
    @include media-breakpoint-up(md) {
      display: none;
    }

    .nf-progress {
      height: 5px;
      background-color: $blue;
    }
  }

  // Create custom progress bar to display next to breadcrumbs using pseudo elements
  .nf-breadcrumbs {
    display: none;

    @include media-breakpoint-up(lg) {
      position: absolute;
      display: block;
      right: 0;
    }

    li {
      position: relative;
      float: none;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 5px;
        height: 3.4375rem;
        bottom: 53%;
        left: 4px;
        background-color: $blue;
      }
    }

    li a {
      margin-bottom: 1.3125rem; // NB: need to update these to rem values
      padding-left: 1.25rem;
      font-size: .9375rem;
      font-weight: 5500;
      color: $dark-grey;
    }

    li:first-child {
      &::after {
        display: none;
      }
    }

    li.active {
      font-weight: 600;
      & ~ li {
        &::after {
          background-color: $off-white;
        }

        a {
          font-weight: 500;
          color: $grey;
        }
      }
    }

    li.active,
    li:first-child() {
      &::before {
        @include bullet(12px, $blue);
        position: absolute;
        top: 25%;
        left: 0;
        z-index: 2;
      }
    }
  }

  // Date picker
  .field-wrap .pikaday__container {
    width: 156px;

    &::after {
      position: absolute;
      top: .75rem;
      right: .625rem;
      width: 18px;
      height: 18px;

      @include fontawesome5("\f133", $grey);
      font-weight: 400;
    }
  }
}

// Pika styles - for date picker however markup is outside of nf container
.is-selected .pika-button,
.pika-button:hover {
  background-color: $blue !important;
}

.is-today .pika-button {
  color: $blue !important;
}

.is-today.is-selected .pika-button,
.is-today .pika-button:hover {
  color: $white !important;
}

// Form styles for when one is appended to a page rather than being alone
.page-template-default {
  .nf-form-cont {
    // max-width: 700px;
    margin: 0 auto 3rem;
  }

  .nf-form-cont .nf-form-content .nf-mp-body {
    margin: 0 auto;
  }

  .nf-form-cont .nf-form-content .nf-field-container.html-container {
    padding-top: 0;
  }

  .nf-form-cont .nf-form-content .submit-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .nf-form-cont .nf-form-content .nf-mp-footer {
    margin: 0;
  }
}

