// home
.home-hero {
  .carousel {
    margin-bottom: 3.5rem;

    article {
      height: 665px;
      text-align: center;
      transform: translateY(-3rem);

      @include media-breakpoint-up(md) {
        padding: 0;
        height: 100%;
        text-align: left;
        max-width: 1250px;
      }

      @include media-breakpoint-up(lg) {
        margin: 0 auto;
      }
    }

    &-item,
    &-item.primary {
      margin-top: 3.625rem;

      @include media-breakpoint-up(md) {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3rem;
          display: block;
          background-color: $white;
        }
      }

      .carousel-content {
        position: relative;
        margin: 0 auto;
        z-index: 1;

        @include media-breakpoint-up(lg) {
          max-width: 420px;
        }

        @include media-breakpoint-up(xl) {
          max-width: 456px;
        }
      }

      .logo {
        padding-bottom: 1rem;
        max-width: 75%;
      }

      p {
        margin-bottom: 0;
      }
    }

    &-item {
      .carousel-content {
        background-color: $white;

        @include media-breakpoint-up(xl) {
          padding: 3.75rem;
          justify-content: center;
        }
      }

      .button {
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
          margin-bottom: 1.6rem;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 2rem;
        }
      }

      .logo {
        max-width: 245px;
      }

      p {
        font-size: 1.125rem;

        @include media-breakpoint-only(md) {
          font-size: 1rem;
        }
      }
    }

    &-item.primary {
      .carousel-content {
        background-color: transparent;

        @include media-breakpoint-up(xl) {
          padding-left: .25rem;
        }
      }

      p {
        margin-bottom: 0;
        color: $white;
        font-size: 1.5rem;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;

        @include media-breakpoint-only(md) {
          padding-top: 3rem;
          font-size: 1.25rem;
        }

        @include media-breakpoint-up(xl) {
          font-size: 2.3125rem;
          line-height: 1.2;
        }
      }
    }

    &-img__container {
      max-height: 295px;
      margin: 0 auto 2rem;
      overflow: hidden;

      @include media-breakpoint-up(md) {
        margin: 0;
        max-height: 100%;
        overflow: visible;
      }

      img {
        max-width: 100%;

        @include media-breakpoint-up(xl) {
          max-width: 696px;
        }
      }
    }
  }

  .carousel-indicators {
    @include media-breakpoint-up(lg) {
      margin-right: 6.5rem;
      bottom: 4.6875rem;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 4rem;
      bottom: 7.6875rem;
    }
  }
}
