// Nav Modal
.modal {
  &-backdrop {
    z-index: auto;
  }
  
  &-dialog {
    @include border($yellow);
    margin: 0;
  }

  &-content {
    border: none;
    border-radius: 0;
  }

  &-header {
    padding-top: 2.125rem;
    border: none;
  }

  &-body,
  &-footer {
    padding: 1.3755rem 3.0625rem 0;
  }

  .close {
    position: absolute;
    width: 1.75rem;
    right: 1.375rem;
    opacity: 1;

    .hamburger-inner {
      transform-origin: right;
      transform: translate3d(0,10px,0) rotate(45deg);

      &::before {
        transform: rotate(-45deg);
        opacity: 0;
      }
      &::after {
        top: 20px;
        transform: translate3d(0,-20px,0) rotate(-90deg);
      }

    }
  }

  // Modal main menu
  .menu-item {
    padding: .625rem 0;
    font-family: $headings-font-family;
    font-size: 1.375rem;
    font-weight: $headings-font-weight;

    &::before {
      display: none;
    }


    &.menu-item-has-children {
      padding: 0 0 3.188rem;
    }
  }

  .sub-menu {
    padding-left: 0;

    .menu-item {
      margin: 0;
      padding: .313rem 0;
      font-family: $font-family-sans-serif;
      font-size: 1.063rem;
      font-weight: 500;
      line-height: $line-height-base;

      a {
        display: inline;
        color: $mid-grey;
      }

      &.active, &:hover {
        > a {
          border-bottom-color: $white;
          opacity: .7;
        }
      }
    }
  }

  .secondary-menu {
    padding: 2.531rem 0;

    .menu-item {
      a {
        padding-top: 0;
        padding-bottom: 0;
      }

      &.opening-times {
        padding: .594rem 1rem .594rem 0;
      }
    }
  }


// Modal footer menu
  &-footer {
    border: 0;

    .navbar {
      padding: 0;
    }
    .navbar-brand {
      margin: 3.5rem auto;

      img {
        max-width: 245px;
      }
    }

    .secondary-menu {
      border-top: solid 4px lighten($light-grey, 10%);
      border-bottom: solid 4px lighten($light-grey, 10%);
    }

  }
}


// > 576px wide screens
@include media-breakpoint-up(sm) {
  .modal {
    &-dialog {
      max-width: 100%;
    }

    &-header {
      padding-left: 3.0625rem;
    }

    &-footer {
      .navbar-brand {
        margin: 3.5rem 0 3.5rem auto;
      }
    }

    .menu-item {
      margin-left: 0;
      &.menu-item-has-children {
        // margin-left: 4rem;
      }
    }
  }

}

// > 768px wide screens
@include media-breakpoint-up(md) {
  .modal {
    &-dialog {
      margin: $modal-dialog-margin;
    }

    &-body, &-footer {
      padding-top: 0;
    }

    &-footer {
      .navbar {
        padding: 0 0 1.625rem;
      }
      .navbar-brand {
        margin-right: .75rem;
        margin-bottom: 1.5rem;
      }
      .navbar-brand img {
        max-width: 286px;
      }
    }

    .menu-main-container {
      max-width: 1200px;
    }

    .menu-item {
      &.menu-item-has-children {
        margin-right: 8.6875rem;
      }
    }

    .close {
      position: relative;
      width: 1.715rem;
      height: 1.715rem;
      top: 0;

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: 35px;
      }
    }
  }
}

// > 992px wide screens
@include media-breakpoint-up(lg) {
  .modal {
    &-header, &-body, &-footer {
      padding: 3.153rem 3.153rem 3.153rem 7.0625rem;
    }

    .menu-item {
      &.menu-item-has-children {
        padding-bottom: 0;

        &:nth-child(-n+3) {
          margin-bottom: 6.4375rem;
        }
      }
    }
  }

}
