// Navbar menu
.nav {
  @include media-breakpoint-up(lg) {
    margin-right: 3.4375rem;
  }
}

footer .nav {
  @include media-breakpoint-up(lg) {
    margin-right: 0;
  }
  @include media-breakpoint-up(xl) {
    margin-right: 3.4375rem;
  }
}

.navbar {
  padding: 0 1.56rem 0;

  @include media-breakpoint-up(md) {
    padding: 0 1rem 2.0625rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 2rem 2.0625rem;
}

  .col-xl-2 {
    @include media-breakpoint-up(xl) {
      max-width: 225px;
    }
  }

  .menu-top {
    display: none;
    background-color: #fff;
    @include media-breakpoint-up(md) {
      display: flex;
      position: relative;
      padding: 0 0 .7152rem;
      justify-content: flex-end;
    }
  }

  .menu-bottom {
    // padding-top: 1.313rem;
    @include media-breakpoint-down(sm) {
      padding-top: 1.75rem;
      padding-bottom: 1rem;
    }
  }

  // Membership login / logout
  .login,
  .logout {
    color: $dark-grey;
    font-size: 0.75rem;
    line-height: 1.2;
    font-weight: 600;

    span {
      padding-right: 7px;
    }
  }

  .logout {
    margin-left: 1rem;
  }

  .button {
    margin-left: 137px;
    padding: 0.8125rem 1.25rem;
  }
}
// Nav links

.menu-item {
  margin: 0 1rem;

  a {
    display: inline-block;
    border-bottom: solid 2px transparent;
    padding: 0;
    color: $dark-grey;
  }

  &.active,
  &.current-page-ancestor,
  &:focus,
  &:hover {
    > a {
      border-bottom: solid 2px $blue;
      color: $blue;
      opacity: 1;
    }
  }
}

// Primary nav
#primaryNav {
  .nav-link {
    font-family: $headings-font-family;
    font-size: 1.1875rem;
    font-weight: 600;
  }
  @include media-breakpoint-up(xl) {
    margin-right: 5rem;
  }
}

// Secondary nav
.secondary-menu {
  p {
    display: inline;
  }

  .nav {
    justify-content: space-evenly;
  }

  .menu-item {
    margin: 0;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 0.8122rem;
    font-weight: 600;
    line-height: 1;

    &::before {
      @include bullet(7px, $yellow);
      position: relative;
    }

    &:first-of-type::before {
      display: none;
    }

    &.opening-times,
    a {
      color: $dark-grey;
      display: block;
      padding: 0.594rem 1rem;
    }

    &.opening-times {
      &:focus,
      &:hover {
        opacity: 1;
      }

      &::before {
        display: none;
      }
    }

    &.active,
    &.current-page-ancestor,
    &:focus,
    &:hover {
      opacity: 0.7;

      > a {
        border-bottom-color: transparent;
      }
    }

    a {
      display: inline-block;
    }

    &:nth-last-child(2) {
      margin-right: 1rem;

      &::after {
        @include bullet(7px, $yellow);
      }
    }

    // Parent Corner
    &:last-child {
      a {
        display: inline-block;
        padding-left: 0.5rem;
      }

      &::before {
        @include bullet(12px, $white);
        @include fontawesome5("\f007", $dark-grey);
      }
    }
  }
}
// hamburger

.navbar-toggler {
  position: relative;
  display: inline-block;
  width: 1.56rem;
  height: 1.56rem;
  cursor: pointer;
  @include media-breakpoint-up(md) {
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    top: 3.25rem;
    right: 0;
  }

  .hamburger-inner {
    top: 50%;
    left: 0;

    &::after,
    &::before {
      content: '';
    }

    &::before {
      top: -7px;
      @include media-breakpoint-up(md) {
        top: -9px;
      }
    }

    &::after {
      bottom: -7px;
      @include media-breakpoint-up(md) {
        bottom: -9px;
      }
    }
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: $yellow;
    @include media-breakpoint-up(md) {
      height: 4px;
    }
  }
}
// Back to top button

.to-top {
  position: relative;
  border: none;
  padding: 0;
  top: 5px;
  color: $yellow;
  background-color: transparent;
  font-size: 31px;
  line-height: 17px;
  cursor: pointer;
  @include media-breakpoint-down(md) {
    margin: .75rem auto;
  }

  .fas {
    width: 31px;
    line-height: inherit;
  }
}

// Logo
.navbar-brand {
  margin: 0;
  padding: 0;

  @include media-breakpoint-up(sm) {
    margin: 0 auto;
  }
  @include media-breakpoint-up(md) {
    margin: 0;
  }

  img {
    width: 100%;
    max-width: 250px;
  }
}

.menu-header-container {
  @include media-breakpoint-up(sm) {
    padding-top: 0.5rem;
  }
}
