.notice {
  @extend .navbar;

  background: $off-white;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $white;
  color: $dark-grey;

  p {
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: .92rem;
    }
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    color: $mid-grey;
    opacity: 1;
  }
}

// .notice-active {
//   @include media-breakpoint-up(md) {
//     padding-top: 18.8125rem;
//   }

//   @include media-breakpoint-up(lg) {
//     padding-top: 16.3125rem;
//   }

//   @include media-breakpoint-up(xl) {
//     padding-top: 15.3125rem;
//   }
// }