.nursery-info {
  @include alt-section-padding;

  ul {
    @include media-breakpoint-up(lg) {
      padding-bottom: 5rem;
    }
  }

  li {
    // NB: will adjust style of li
    &::first-line {
      color: $dark-grey;
    }

    @include media-breakpoint-up(md) {
      padding-right: 4rem;
    }
  }
}

.opening-times {
  padding: 0;

  div {
    // border: solid $blue;
    display: flex;
    justify-content: space-between;
    margin: .75rem auto;
    max-width: 370px;

    &:first-child {
      @include media-breakpoint-up(xl) {
        margin-left: 0;
      }
    }
    &:last-child {
      @include media-breakpoint-up(xl) {
        margin-right: 0;
      }
    }
  }

  span {
    font-size: 1.1875rem;
    color: $grey;
    &:first-child {
      font-weight: 500;
      color: $dark-grey;
    }
  }
}
