.pagination {
  justify-content: center;

  li {
    margin: 0;
  }
}

.page-item {
  &:first-child,
  &:last-child {

    .page-link {
      border-radius: 0;
    }
  }

  &.active .page-link {
    border-radius: 25px;
  }

  &:hover {
    @extend .active;
  }
}

.page-link {
  border: none;
  font-size: 1rem;
  line-height: 1;
  color: $dark-grey;
}

.next,
.previous {
  &:hover {
    .page-link {
      background-color: $white;
      border-color: $white;
      color: $yellow;
    }
  }
  .page-link {
    color: $yellow;
    font-size: 1.125rem;
  }
}
