.panel {

  &-container {
    @include divider(after);
  }

  &__content {
    padding-bottom: 1.75rem;

    h2 {
      font-family: $headings-font-family;
      letter-spacing: normal;
      text-transform: none;
      @include media-breakpoint-up(lg) {
        font-size: 2.6875rem;
        margin-bottom: 2.875rem;
      }

      &::after {
        display: none;
      }
    }

    h2, p {
      margin-bottom: 1.8125rem;
    }
    h2 {
      font-size: 1.8125rem;

      @include media-breakpoint-up(lg) {
        font-size: 2.6875rem;
      }
    }

    p {
      color: $mid-grey;

      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
      }
    }
  }

  &__testimonial {
    border-top: solid 3px rgba($light-grey, .3);
    padding: 2rem 0 5.375rem;
    color: $dark-grey;

    @include media-breakpoint-up(lg) {
      padding: 3.875rem 0 0;
    }

    img {
      max-width: 112px;
      max-height: 112px;
      display: block;
      margin: 0 auto 1.6875rem;
      border-radius: 50%;
    }

    blockquote, cite {
      display: block;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    blockquote {
      @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
      }
    }

    cite {
      font-size: .875rem;
      font-weight: 600;
      font-style: normal;
      line-height: 1.3;

      span {
        opacity: .5;
        padding-left: 10px;
      }
    }
  }

  &__image {
    position: relative;
    color: $dark-grey;

    &.flex-row-reverse {
      figure {
        &::after {
          left: 0;
        }
      }
    }
  }

  &-left, &-right {
    figure {
      width: 92.39%;
      max-width: 500px;

      @include media-breakpoint-up(lg) {
        margin: 5rem 0 9.35rem;
      }
    }
  }
}
