.related-posts {
  border-top: solid 2px $off-white;
  padding-top: 8.25rem;

  figure, img {
    width: 100%;
    height: auto;
  }

  .row {
    max-width: 1350px;
  }

  .post-card {
    // max-width: 370px;
    figure {
      margin-bottom: 1.625rem;
      max-height: 280px;
    }

    h2 {
      margin-bottom: .75rem;
      font-family: $font-family-sans-serif;
      font-size: 1.0625rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 1.125rem;
      }
    }
  }
}
