table {
  @include border($yellow);
  padding: 0 1rem;

    @include media-breakpoint-down(sm) {
      padding: 0;
      overflow-x: scroll;
    }
}

tr {
  border-bottom: 1px solid $light-grey;

  &:last-child {
    border-bottom: none;
  }
}

th, td {
  padding: 1rem;
  color: $dark-grey;
}
