// Control animations here including transition on each element
// Kept seperate for ease of use

.icon {
  transition: transform 2s ease;
}
.icon-hover-move {
  // transform: translateY(-10px) !important;
}
