// Loop through colour map and add name and value to class
@each $color, $value in $colors {
  .bg-is-#{$color} {
    background-color: $value !important;
  }

  .bg-after-is-#{$color} {
    &::after {
      background-color: $value !important;
    }
  }

  .bg-sm-is-#{$color} {
    @include media-breakpoint-down(sm) {
      background-color: $value !important;
    }
  }

  .b-is-#{$color} {
    border-color: $value !important;

    &::after {
      border-color: $value !important;
    }
  }
}

// create a class for changing z-index
@for $i from 1 through 4 {
  .zindex-#{$i} {
    z-index: $i;
  }
}
