#skiptocontent {
  position: absolute;
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  top: -10px;
  z-index: 1040;
}

#skiptocontent:focus,
#skiptocontent:active {
  height: auto;
  width: auto;
  top: 0;
}

body {
  padding-top: 5.313rem;

  @include media-breakpoint-up(md) {
    padding-top: 8.5rem;
  }
}

a {
  // transition: all .2s linear;
  &:hover {
    opacity: .8;
    figure {
      opacity: .8;
    }
  }
}

h1 {
  font-size: 1.625rem;
  text-align: center;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}

h2 {
  margin-bottom: .5rem;
  font-size: $font-size-lg;

  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

.title {
  @include title;
}

p, li {
  margin-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-lg;
  }
}

li {
  list-style: none;
}

.panel,
.nursery-info,
.page-content,
.post-content,
.nf-field-container.html-container {
  ol {
    li {
      list-style: decimal;

      ul li {
        list-style: none;

        &:first-child {
          margin-top: 2rem;
        }
      }
    }
  }
  ul {
    padding-left: 0;
    li {
      position: relative;
      padding-left: 27px;
      &::before {
        content: " ";
        position: absolute;
        vertical-align: middle;
        display: inline-block;
        background-image: url('../images/icons/blue/blue-circle-1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        top: 8px;
        width: 12px;
        height: 12px;
      }

      &:nth-child(2n)::before {
          background-image: url('../images/icons/blue/blue-circle-2.svg');
      }
      

      ol li {
        padding-left: 0;

        &::before,
        &:nth-child(2n)::before {
          background-image: none;
        }

        &:first-child {
          margin-top: 2rem;
        }
      }
    }
  }
}

figure,
.figure-img,
.wp-caption>img {
  margin-bottom: 0;
  overflow: hidden;
}

figcaption,
.figure-caption,
.wp-caption-text {
  margin-top: .9375rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.3;
  color: $dark-grey;
}

img {
  -ms-interpolation-mode: bicubic;
}
