// Control the sprite sizes and positions here

.icon {
  position: absolute;
  z-index: -1;
  font-size: 6px;
  @include media-breakpoint-up(sm) {
    font-size: 9px;
  }
}

figcaption .icon {
  position: relative;
  margin-right: 0.75rem;
  font-size: 6px;
  vertical-align: middle;
}

.blog-header,
.page-header {
  .icon {
    z-index: 1;
  }
}

.blog-header {
  .yellow-triangle-1 {
    top: 5%;
    left: 12%;
    @include media-breakpoint-up(lg) {
      top: 15%;
    }
  }

  .blue-zigzag-1 {
    left: 26%;
  }

  .green-line-1 {
    top: 3%;
    right: 24%;
    @include media-breakpoint-up(lg) {
      top: 10%;
    }
  }

  .pink-triangle-1 {
    top: 10%;
    right: 10%;
    @include media-breakpoint-up(lg) {
      top: 25%;
    }
  }
}

.single-header {
  .dark-circle-2 {
    top: 15%;
    right: 15%;
  }

  .dark-circle-2.alt {
    top: 19%;
    right: 12%;
    transform: scale(.6);
  }

  .dark-curve-1 {
    top: 22%;
    left: -1%;
    transform: rotate(20deg);
    @include hide(lg);
  }

  .dark-curve-3 {
    top: 22%;
    right: 50%;
    @include hide(md);
  }

  .dark-triangle-1 {
    right: 45%;
    bottom: 22%;
    transform: scale(.75);
    @include hide(lg);
  }

  .dark-zigzag-1 {
    bottom: 20%;
    transform: rotate(-95deg);
    @include hide(lg);
  }

  .dark-dot-2 {
    right: 15%;
    bottom: -1%;
  }
}

.home {
  .card-column-container {
    .pink-plus-1 {
      top: 0;
      left: 20%;
    }

    .green-triangle-1 {
      top: 2%;
      right: 10%;
    }

    .purple-curve-1 {
      top: 15%;
      left: 10%;
      transform: rotate(65deg);
    }

    .yellow-plus-1 {
      top: 25%;
      right: 40%;
    }

    .pink-zigzag-1 {
      bottom: 3%;
      left: 20%;
      transform: rotate(165deg);
    }
  }
}

.home,
.panel {
  .green-zigzag-1,
  .purple-zigzag-1 {
    @include hide;
  }

  .pink-triangle-1 {
    top: 10%;
    left: -10%;
    @include media-breakpoint-up(sm) {
      top: 20%;
    }
  }

  .green-curve-3 {
    top: 0;
    right: -5%;
    @include media-breakpoint-up(sm) {
      right: 0;
    }
  }

  .purple-zigzag-1 {
    @include media-breakpoint-up(sm) {
      right: 0;
      bottom: 30%;
    }
  }

  .green-zigzag-1 {
    @include media-breakpoint-up(sm) {
      right: 50%;
      bottom: 23%;
    }
  }

  .blue-plus-1 {
    bottom: 25%;
    @include media-breakpoint-up(sm) {
      bottom: 30%;
    }
  }

  .yellow-curve-1 {
    top: -5%;
    left: 25%;
    @include media-breakpoint-up(sm) {
      top: 0;
    }
  }

  .pink-plus-1 {
    right: 15%;
    bottom: 35%;
  }

  .blue-curve-1 {
    top: 0;
    right: 30%;
  }

  .yellow-dash-4 {
    bottom: 30%;
    left: 25%;
  }

  .green-square-1 {
    top: -5%;

    @include media-breakpoint-up(sm) {
      top: 10%;
    }
  }
}

  .posts {
    .icon {
      @include hide;
    }

    .pink-triangle-1 {
      @include media-breakpoint-up(sm) {
        top: 30%;
        left: 3%;
      }
    }

    .green-line-1 {
      @include media-breakpoint-up(sm) {
        top: 20%;
        left: 25%;
        transform: rotate(95deg);
      }
    }

    .blue-zigzag-1 {
      @include media-breakpoint-up(sm) {
        top: 25%;
        right: 20%;
        transform: rotate(35deg);
      }
    }

    .yellow-square-1 {
      @include media-breakpoint-up(sm) {
        top: 21%;
        right: 0;
      }
    }
  }


.page-template-page-landing .card-column-container {
  .purple-curve-1 {
    top: 5%;
    right: 40%;
  }

  .green-curve-3 {
    top: 50%;
    left: 47%;
    transform: rotate(35deg);
  }

  .yellow-zigzag-1 {
    bottom: 0;
    right: 40%;
  }
}
// Cards

.card {
  .icon {
    z-index: 0;
  }

  [class*="bg-is-green"],
  [class*="bg-is-pink"] {
    .dark-circle-1 {
      bottom: 10%;
      left: -5%;
    }

    .dark-plus-1 {
      right: 5%;
      bottom: 15%;
    }

    .dark-zigzag-1 {
      top: 15%;
      right: 0;
      transform: rotate(95deg);
    }

    .dark-dot-1 {
      top: 0;
      left: 20%;
    }
  }

  [class*="bg-is-yellow"] {
    .dark-curve-1 {
      bottom: 32%;
      left: 0;
      transform: rotate(-95deg);
    }

    .dark-zigzag-1 {
      top: 7%;
      left: 12%;
      transform: rotate(-95deg);
    }

    .dark-plus-1 {
      bottom: 10%;
      right: 3%;
    }
  }

  [class*="bg-is-blue"],
  [class*="bg-is-purple"],
  [class*="bg-is-orange"] {
    .dark-circle-1 {
      top: 32%;
      right: -5%;
    }

    .dark-zigzag-1 {
      bottom: 32%;
      right: 2%;
      transform: rotate(-95deg);
    }

    .dark-plus-1 {
      bottom: 15%;
      left: 5%;
    }
  }
}
