
///////////////////
/// _cards.scss ///
///////////////////

.card-columns {
    .card {
        @include media-breakpoint-up(md) {
            overflow: visible;
        }

        &:first-child {
            margin-top: 2.3125rem;
            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }

        &:nth-child(2) {
            @include media-breakpoint-up(md) {
                margin-top: 9rem;
            }
        }

        &:nth-child(2n+3) {
            @include media-breakpoint-up(md) {
                margin-top: -9rem;
            }
        }

        [class*="bg-is-"] {
            transform: scale(1);
            @include transition-cb(all, 0.8s);
            @include media-breakpoint-up(md) {
              @include shadow(1.2rem, .13);
            }
            .card-img__container{
                @include transition-cb(all, 1s);
            }

            &:hover{
                cursor: pointer;
                transform: scale(1.04);
                @include transition-cb(all, 0.6s);
                @include shadow(1.7rem, .16);
                .card-img__container{
                    transform: scale(1.03);
                    @include shadow(1.2rem, .13);
                    @include transition-cb(all, 0.8s);
                }
            }
        }

    }
}


///////////////////
/// _icons.scss ///
///////////////////

// Cards

.card {

    [class*="bg-is-green"],
    [class*="bg-is-pink"] {

      .dark-circle-1 {
        bottom: 17%;
        left: 10%;
        transform: rotate(95deg);
      }
      .dark-plus-1 {
        right: 12%;
        bottom: 18%;
        transform: rotate(95deg);
      }
      .dark-zigzag-1 {
        top: 15%;
        right: 10%;
        transform: rotate(95deg);
      }
      .dark-dot-1 {
        top: 13%;
        left: 20%;
        transform: rotate(95deg);
      }

      &:hover {
        .dark-circle-1 {
            transform:translate(-3.6rem,3.3rem);
        }
        .dark-zigzag-1 {
            transform:translate(2.5rem,0rem);
        }
        .dark-plus-1 {
            transform:translate(2.5rem,2rem);
        }
        .dark-dot-1 {
            transform:translate(0rem,-3rem);
        }
      }

    }

    [class*="bg-is-yellow"] {
      .dark-curve-1 {
        bottom: 20%;
        left: 10%;
        transform: rotate(-35deg);
        &:before{
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
        }
      }
      .dark-zigzag-1 {
        top: 15%;
        left: 12%;
        transform: rotate(-95deg);
      }
      .dark-plus-1 {
        bottom: 18%;
        right: 13%;
        transform: rotate(-95deg);
      }

      &:hover {
        .dark-curve-1 {
            transform:translate(-3rem,3.7rem);
        }
        .dark-zigzag-1 {
            transform:translate(0rem,-3.5rem);
        }
        .dark-plus-1 {
            transform:translate(3rem,2rem);
        }
      }

    }

    [class*="bg-is-blue"],
    [class*="bg-is-purple"],
    [class*="bg-is-orange"] {
      .dark-circle-1 {
        top: 13%;
        left: 65%;
      }
      .dark-zigzag-1 {
        bottom: 32%;
        left: 70%;
        transform: rotate(-135deg);
      }
      .dark-plus-1 {
        bottom: 18%;
        left: 11%;
        transform: rotate(-135deg);
      }

      &:hover {
        .dark-circle-1 {
            transform:translate(3.9rem,-4.2rem);
        }
        .dark-zigzag-1 {
            transform:translate(2.5rem,.2rem);
        }
        .dark-plus-1 {
            transform:translate(-2.1rem,-.2rem);
        }
      }

    }
  }


////////////////////////
/// _animations.scss ///
////////////////////////


.card {
    .icon{
        @include transition-cb(all, 0.8s);
    }
}

////////////////////
/// _panels.scss ///
////////////////////

.panel {
    p {

      @include media-breakpoint-up(lg) {
        font-size: 1.05rem;
      }
    }

    &__content {
        h2 {
            @include media-breakpoint-up(lg) {
                font-size: 3rem;
                line-height: 1;
            }
        }
    }

    &__image {
        img{
         @include shadow(1.2rem, .2);
        }
    }

    &-left, &-right {
        figure {
          width: 100%;
          max-width: 100%;
          overflow: visible;

          @include media-breakpoint-up(lg) {
            margin: 5rem 0 9.35rem;
          }
        }
    }
}


///////////////////////
/// _home-hero.scss ///
///////////////////////

.home-hero {
    .carousel {
        .carousel-img__container{
            img{
                @include shadow(1.2rem, .25);
            }
        }
    }
}

.page-carousel {
    .carousel {
        img.pb-lg-5 {
            @include shadow(1.2rem, .25);
            padding:0!important;
            @include media-breakpoint-up(md) {
              margin-bottom:1.5rem;
            }
        }
        .carousel-caption {
            @include shadow(1.2rem, .05);
        }
    }
}

/////////////////////
/// _feature.scss ///
/////////////////////

// CTA feature area
.feature {

    h2 {
      margin-bottom: 1.7rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 2rem;
        font-size: 2.1rem;
        line-height: 1.2;
      }
    }

    p {
      @include media-breakpoint-up(lg) {
        font-size: 1.1rem;
        margin-bottom: .5rem;
      }
    }
    .feature-container{
        @include shadow(1.2rem, .1);
    }
}

////////////////////
/// _global.scss ///
////////////////////

body{
    font-weight:400;
}

p, li {
    letter-spacing: 0.02rem;
    font-size: 1.1rem;
}

blockquote{
    background:url(../images/blockquote.svg) 0 .2rem no-repeat;
    padding-left:4rem;
    margin:4rem 0;
    p{
        font-size:1.2rem;
        line-height: 1.3;
        text-align: left!important;
        letter-spacing: -0.015rem;
        strong{
            font-weight:600;
            display: block;
            margin-bottom:1rem;
            font-size:1.6rem;
        }
    }
}

///////////////////
/// _pages.scss ///
///////////////////

.page {
    &-content {
      h2, h3, h4, h5, h6,
      p, ol, ul, table, blockquote {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 700px;
        color: $dark-grey;
      }
    }
}

///////////////////
/// _pages.scss ///
///////////////////

.posts {
    h2.title {
        font-size: 1.0625rem;
    }
}

////////////////////
/// _nav.scss ///
////////////////////

.navbar {

    // @include media-breakpoint-up(md) {
    //     padding: 0 1rem 3.0625rem;
    // }

    // @include media-breakpoint-up(xl) {
    //     padding: 0 2rem 3.0625rem;
    // }

    .container-fluid {
        .row{
            width:100%;
            margin:0;
        }
    }

    .nav {
        margin-right:0;
    }

    .menu-bottom {
        // padding-top: .5rem;
        @include media-breakpoint-up(xl) {
            padding-top: 0;
        }
    }

    .button {
      margin-left: 0;
      padding: 0.5rem .75rem;
      text-align: right;
      font-size:.8rem;
      @include transition(all, 0.3s, ease);
      &:after{
        @include transition(all, 0.3s, ease);
      }
      &:hover{
         &:after{
            background:$yellow;
         }
      }

      @media (min-width: 1280px) and (max-width: 1400px) {
        font-size: .7rem;
      }
    }
}

.menu-header-container {
    @include media-breakpoint-up(sm) {
      padding-top: 0;
      padding-right: .625rem;
    }
  }

  .secondary-menu {
    .menu-item {

      &.active,
      &.current-page-ancestor,
      &:focus,
      &:hover {
        opacity: 1;

        > a {
          border-bottom-color: transparent;
            &:hover{
                opacity: .7;
            }
        }
      }

    }
  }

// Logo
// .navbar-brand {
//     margin:0;
//     img {
//         width:100%;
//         @include media-breakpoint-up(lg) {
//             max-width: 310px;
//         }
//         @include media-breakpoint-up(xl) {
//             max-width: 315px;
//         }
//         @media (min-width: 1400px){
//             max-width: 315px;
//         }
//     }
// }


// Primary nav
#primaryNav {

    margin: 0 0 .75rem;
    text-align: center;

    .menu-header-container{
        margin-left: auto;
    }

    .menu-item {
      margin: 0 .7rem;
      @include media-breakpoint-up(lg) {
        margin: 0 .7rem;
      }

      a{
        @include transition(all, 0.1s, linear);
        border:none;
        position: relative;

        &:after{
            content:"";
            position: absolute;
            bottom:-1px;
            left:50%;
            right:50%;
            height:3px;
            opacity: 0;
            border-radius: 3px;
            background:$blue;
            @include transition-cb(all, .5s);
        }
      }

      &.active,
      &.current-page-ancestor,
      &:focus,
      &:hover {
        > a:after {
            left:1%;
            right:1%;
            opacity: 1;
            @include transition-cb(all, 0.7s);
        }
      }

    }

    .nav-link {
        font-size: .95rem;
        
        @include media-breakpoint-up(xl) {
            font-size: 1.05rem;
        }
        
        @media (min-width: 1280px) and (max-width: 1400px) {
            font-size: .95rem;
        }
    }

}

// hamburger

.navbar-toggler {

    width: 2.2rem;
    margin: 0 0 0 .7rem;

    @include media-breakpoint-up(md) {
        position: relative;
        display: inherit;
        top:auto;
        right: auto;
    }

  .hamburger-inner {
    &::before {
      top: -9px;
      @include media-breakpoint-up(md) {
        top: -11px;
      }
    }

    &::after {
      bottom: -9px;
      @include media-breakpoint-up(md) {
        bottom: -11px;
      }
    }
  }
}

// Child menu

.child-nav-container {
    width:100%;
    margin:0;
    padding:.5rem 1rem .1rem;
    background:$off-white;
    @include media-breakpoint-up(lg) {
        padding:1.3rem 1rem;
        background:#F5F3F0;
        border-bottom:solid 1px $white;
    }
    .breadcrumb{
        position: relative;
        padding:0;
        margin:0;
        .breadcrumb-item{
            margin:0;
        }
    }
}

#child-nav{
    font-weight: 500;
    padding:0;
    .menu-item{
        font-size: .85rem;
        margin: 0 .3rem;
        a{
            padding:.3rem .8rem;
            @include transition(all, .5s, ease);
            border:none;
            opacity: 1;
        }
        &:focus,
        &:hover {
          > a {
            border-bottom: none;
            color: $blue;
            opacity: 1;
          }
        }
        &.active,
        &.current-page-ancestor{
          > a{
               background:#fff;
               border-radius: .4rem;
               border:none;
               color:$dark-grey;
               @include shadow(.2rem, .03);
            }
        }
    }
}

.to-top {
    top: 0;
}


///////////////////////
/// _home-hero.scss ///
///////////////////////

// home
.home-hero {
    .carousel {

        overflow:visible;

        .container{
            max-width:100%;
            padding:0;
            .row{
                max-width: 100%;
                margin:0;
            }
        }

        .carousel-img__container{
            img{
                max-width: 100%;
                @include shadow(1rem, .13);
            }
        }

        .mr-lg-0 {
            margin-right: auto!important;
        }

        .carousel-indicators {
            li{
                cursor: pointer;
            }
            @include media-breakpoint-up(md) {
                width:10rem;
                left:75%;
                margin:0 0 0 -5rem;
                bottom: 5rem;
            }
            // @include media-breakpoint-up(lg) {
            //     bottom: 6rem;
            // }
        }

    }

    .carousel-item,
    .carousel-item.primary {
        margin:0;

        p{
            @include media-breakpoint-down(sm) {
                font-size:1rem;
                line-height:1.3;
            }
        }

        .carousel-content {
            opacity: 0;
            transform: scale(1.2);
            max-width: 80%;

            @include shadow(1.2rem, .05);
            @include transition(all, .5s, ease);

            @include media-breakpoint-down(sm) {
                > *{
                    margin-left:auto;
                    margin-right:auto;
                }
            }

            @include media-breakpoint-up(md) {
                max-width: 43%;
            }

            @include media-breakpoint-up(lg) {
                max-width: 420px;
            }

            @include media-breakpoint-up(xl) {
                max-width: 500px;
            }
            .button{
                @include media-breakpoint-down(md) {
                    padding:.7rem 1rem;
                }
            }

        }

        &.active{
            .carousel-content {
                opacity: 1;
                transform: scale(1);
            }
        }

        &.primary{
            .carousel-content {
                transform: scale(1);
                @include shadow(0, 0);
                @include media-breakpoint-down(sm) {
                    max-width: 100%;
                }
            }
            p{
                @include media-breakpoint-down(sm) {
                    font-size:1.4rem;
                    line-height:1.4;
                }
            }
        }

        .logo {
            max-width: 180px;
            @include media-breakpoint-up(lg) {
                max-width: 250px;
            }
        }


    }

}



///////////////////
/// _modal.scss ///
///////////////////

.modal {
    bottom:0;
    border: 6px solid #eeda7f;
    @include transition-cb(all, 1s);
    transform: scale(1.4);
    background:$white;
    .modal-dialog{
        background:$white;
        margin:0;
        opacity: 0;
        @include transition(all, 1s, linear);
    }
    &.show {
        transform: scale(1);
        .modal-dialog {
            opacity:1;
            border:none;
        }
    }
    .modal-content {
        height: 100%;
    }

    .menu-main-container {
        margin: 0 1rem;

        a {
            border:none;
            opacity: 1;
            color:$dark-grey;
            @include transition(all, .1s, linear);
            &:hover{
                color: $blue;
                opacity: 1!important;
            }
        }

    }
}



////////////////////
/// _footer.scss ///
////////////////////

.contact-details {
    border-top:solid 3px rgba($light-grey, .3);
    padding-top:4rem;
}

.site-footer {

    .navbar-brand {
      @include media-breakpoint-up(lg) {
        margin: 0 ;
      }
    }
}

////////////////////
/// _divider.scss ///
////////////////////

// Border used to divide sections

.panel-container:after {
    border-color:rgba($light-grey, .4);
    @include media-breakpoint-up(xl) {
        margin-top: 7.25rem;
        margin-bottom: 8.25rem;
    }
}
