// General mixins are stored here
// For specific components (i.e. buttons) check the file in the components folder
@mixin border($color) {
  border: solid 6px $color;
}
@mixin alt-section-padding {
  padding-top: 3.719rem;
  padding-bottom: 3.719rem;
  @include media-breakpoint-up(lg) {
    padding-top: 9.875rem;
    padding-bottom: 9.875rem;
  }
}
// Custom title
@mixin title {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  @include media-breakpoint-up(lg) {
    font-size: 1.0625rem;
    letter-spacing: 3px;
    line-height: 1.2;
  }

  &::after {
    content: '';
    display: block;
    margin: 1.5623rem auto;
    border-radius: 25px;
    max-width: 87px;
    height: 6px;
    background-color: $yellow;
    @include media-breakpoint-up(lg) {
      margin: 2rem auto 5.5rem;
    }
  }
}
// Secondary menu bullets between items
@mixin bullet($size, $colour) {
  content: '';
  display: inline-block;
  margin-right: 0;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $colour;
}
// Font Awesome 5
@mixin fontawesome5($content, $colour) {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: $content;
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  color: $colour;
}

@mixin hide($bp: sm) {
  display: none;
  @include media-breakpoint-up($bp) {
    display: block;
  }
}

// Stop long links overflowing from the container
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  // -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// MB - Dropshadow
@mixin shadow($size, $opacity){
	-webkit-box-shadow: 0 0 $size 0 rgba(0,0,0,$opacity);
			box-shadow: 0 0 $size 0 rgba(0,0,0,$opacity);
}

@mixin translateX($amount){
	  -moz-transform: translateX($amount);
 -webkit-transform: translateX($amount);
	    -o-transform: translateX($amount);
	   -ms-transform: translateX($amount);
		     transform: translateX($amount);
}

@mixin translateY($amount){
	  -moz-transform: translateY($amount);
 -webkit-transform: translateY($amount);
	    -o-transform: translateY($amount);
	   -ms-transform: translateY($amount);
		     transform: translateY($amount);
}

@mixin transition-cb($property, $seconds){
	-webkit-transition: $property $seconds cubic-bezier(0.2, 1, 0.22, 1);
	   -moz-transition: $property $seconds cubic-bezier(0.2, 1, 0.22, 1);
      -ms-transition: $property $seconds cubic-bezier(0.2, 1, 0.22, 1);
       -o-transition: $property $seconds cubic-bezier(0.2, 1, 0.22, 1);
          transition: $property $seconds cubic-bezier(0.2, 1, 0.22, 1);
}

@mixin transition($property, $seconds, $method){
	-webkit-transition: $property $seconds $method;
	   -moz-transition: $property $seconds $method;
      -ms-transition: $property $seconds $method;
       -o-transition: $property $seconds $method;
          transition: $property $seconds $method;
}
