.icon {
    font-size: 12px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../images/sprites/svg/sprite.svg");
      background-repeat: no-repeat;
      background-size: 9.666666666666666em 292.3333333333333em;

      .no-svg & {
        background-image: url("../svg/sprite.png");
      }
    }
}




.icon.blue-blob-1 {
  &:before {
      background-position: 0em 0em;
      width: 4.5em;
      height: 2.6666666666666665em;
    }
  }

  @mixin icon-blue-blob-1(){
    @extend .blue-blob-1;
  }


.icon.blue-circle-1 {
  &:before {
      background-position: 0em -2.6666666666666665em;
      width: 4.5em;
      height: 4.583333333333333em;
    }
  }

  @mixin icon-blue-circle-1(){
    @extend .blue-circle-1;
  }


.icon.blue-circle-2 {
  &:before {
      background-position: 0em -7.25em;
      width: 2.9166666666666665em;
      height: 3.0833333333333335em;
    }
  }

  @mixin icon-blue-circle-2(){
    @extend .blue-circle-2;
  }


.icon.blue-curve-1 {
  &:before {
      background-position: 0em -10.333333333333334em;
      width: 5.5em;
      height: 1.25em;
    }
  }

  @mixin icon-blue-curve-1(){
    @extend .blue-curve-1;
  }


.icon.blue-curve-3 {
  &:before {
      background-position: 0em -11.583333333333334em;
      width: 5.166666666666667em;
      height: 4.25em;
    }
  }

  @mixin icon-blue-curve-3(){
    @extend .blue-curve-3;
  }


.icon.blue-dash-1 {
  &:before {
      background-position: 0em -15.833333333333334em;
      width: 3.9166666666666665em;
      height: 7.416666666666667em;
    }
  }

  @mixin icon-blue-dash-1(){
    @extend .blue-dash-1;
  }


.icon.blue-dash-3 {
  &:before {
      background-position: 0em -23.25em;
      width: 7.166666666666667em;
      height: 4.333333333333333em;
    }
  }

  @mixin icon-blue-dash-3(){
    @extend .blue-dash-3;
  }


.icon.blue-dash-4 {
  &:before {
      background-position: 0em -27.583333333333332em;
      width: 9.416666666666666em;
      height: 4.5em;
    }
  }

  @mixin icon-blue-dash-4(){
    @extend .blue-dash-4;
  }


.icon.blue-dot-1 {
  &:before {
      background-position: 0em -32.083333333333336em;
      width: 2.8333333333333335em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-blue-dot-1(){
    @extend .blue-dot-1;
  }


.icon.blue-dot-2 {
  &:before {
      background-position: 0em -35em;
      width: 3.0833333333333335em;
      height: 3.1666666666666665em;
    }
  }

  @mixin icon-blue-dot-2(){
    @extend .blue-dot-2;
  }


.icon.blue-line-1 {
  &:before {
      background-position: 0em -38.166666666666664em;
      width: 2.5833333333333335em;
      height: 1em;
    }
  }

  @mixin icon-blue-line-1(){
    @extend .blue-line-1;
  }


.icon.blue-plus-1 {
  &:before {
      background-position: 0em -39.166666666666664em;
      width: 2.5833333333333335em;
      height: 2.5em;
    }
  }

  @mixin icon-blue-plus-1(){
    @extend .blue-plus-1;
  }


.icon.blue-square-1 {
  &:before {
      background-position: 0em -41.666666666666664em;
      width: 3.9166666666666665em;
      height: 3.75em;
    }
  }

  @mixin icon-blue-square-1(){
    @extend .blue-square-1;
  }


.icon.blue-square-2 {
  &:before {
      background-position: 0em -45.416666666666664em;
      width: 3.25em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-blue-square-2(){
    @extend .blue-square-2;
  }


.icon.blue-triangle-1 {
  &:before {
      background-position: 0em -48.333333333333336em;
      width: 4.166666666666667em;
      height: 3.9166666666666665em;
    }
  }

  @mixin icon-blue-triangle-1(){
    @extend .blue-triangle-1;
  }


.icon.blue-wave-1 {
  &:before {
      background-position: 0em -52.25em;
      width: 9.666666666666666em;
      height: 1.5em;
    }
  }

  @mixin icon-blue-wave-1(){
    @extend .blue-wave-1;
  }


.icon.blue-wave-2 {
  &:before {
      background-position: 0em -53.75em;
      width: 9.333333333333334em;
      height: 1.8333333333333333em;
    }
  }

  @mixin icon-blue-wave-2(){
    @extend .blue-wave-2;
  }


.icon.blue-zigzag-1 {
  &:before {
      background-position: 0em -55.583333333333336em;
      width: 5.5em;
      height: 2.5833333333333335em;
    }
  }

  @mixin icon-blue-zigzag-1(){
    @extend .blue-zigzag-1;
  }


.icon.dark-blob-1 {
  &:before {
      background-position: 0em -58.166666666666664em;
      width: 4.5em;
      height: 2.6666666666666665em;
    }
  }

  @mixin icon-dark-blob-1(){
    @extend .dark-blob-1;
  }


.icon.dark-circle-1 {
  &:before {
      background-position: 0em -60.833333333333336em;
      width: 4.5em;
      height: 4.583333333333333em;
    }
  }

  @mixin icon-dark-circle-1(){
    @extend .dark-circle-1;
  }


.icon.dark-circle-2 {
  &:before {
      background-position: 0em -65.41666666666667em;
      width: 2.9166666666666665em;
      height: 3.0833333333333335em;
    }
  }

  @mixin icon-dark-circle-2(){
    @extend .dark-circle-2;
  }


.icon.dark-curve-1 {
  &:before {
      background-position: 0em -68.5em;
      width: 5.5em;
      height: 1.25em;
    }
  }

  @mixin icon-dark-curve-1(){
    @extend .dark-curve-1;
  }


.icon.dark-curve-3 {
  &:before {
      background-position: 0em -69.75em;
      width: 5.166666666666667em;
      height: 4.25em;
    }
  }

  @mixin icon-dark-curve-3(){
    @extend .dark-curve-3;
  }


.icon.dark-dash-1 {
  &:before {
      background-position: 0em -74em;
      width: 3.9166666666666665em;
      height: 7.416666666666667em;
    }
  }

  @mixin icon-dark-dash-1(){
    @extend .dark-dash-1;
  }


.icon.dark-dot-1 {
  &:before {
      background-position: 0em -81.41666666666667em;
      width: 2.8333333333333335em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-dark-dot-1(){
    @extend .dark-dot-1;
  }


.icon.dark-dot-2 {
  &:before {
      background-position: 0em -84.33333333333333em;
      width: 3.0833333333333335em;
      height: 3.1666666666666665em;
    }
  }

  @mixin icon-dark-dot-2(){
    @extend .dark-dot-2;
  }


.icon.dark-line-1 {
  &:before {
      background-position: 0em -87.5em;
      width: 2.5833333333333335em;
      height: 1em;
    }
  }

  @mixin icon-dark-line-1(){
    @extend .dark-line-1;
  }


.icon.dark-plus-1 {
  &:before {
      background-position: 0em -88.5em;
      width: 2.5833333333333335em;
      height: 2.5em;
    }
  }

  @mixin icon-dark-plus-1(){
    @extend .dark-plus-1;
  }


.icon.dark-square-1 {
  &:before {
      background-position: 0em -91em;
      width: 3.9166666666666665em;
      height: 3.75em;
    }
  }

  @mixin icon-dark-square-1(){
    @extend .dark-square-1;
  }


.icon.dark-square-2 {
  &:before {
      background-position: 0em -94.75em;
      width: 3.25em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-dark-square-2(){
    @extend .dark-square-2;
  }


.icon.dark-triangle-1 {
  &:before {
      background-position: 0em -97.66666666666667em;
      width: 4.166666666666667em;
      height: 3.9166666666666665em;
    }
  }

  @mixin icon-dark-triangle-1(){
    @extend .dark-triangle-1;
  }


.icon.dark-wave-1 {
  &:before {
      background-position: 0em -101.58333333333333em;
      width: 9.666666666666666em;
      height: 1.5em;
    }
  }

  @mixin icon-dark-wave-1(){
    @extend .dark-wave-1;
  }


.icon.dark-wave-2 {
  &:before {
      background-position: 0em -103.08333333333333em;
      width: 9.333333333333334em;
      height: 1.8333333333333333em;
    }
  }

  @mixin icon-dark-wave-2(){
    @extend .dark-wave-2;
  }


.icon.dark-zigzag-1 {
  &:before {
      background-position: 0em -104.91666666666667em;
      width: 5.5em;
      height: 2.5833333333333335em;
    }
  }

  @mixin icon-dark-zigzag-1(){
    @extend .dark-zigzag-1;
  }


.icon.green-blob-1 {
  &:before {
      background-position: 0em -107.5em;
      width: 4.5em;
      height: 2.6666666666666665em;
    }
  }

  @mixin icon-green-blob-1(){
    @extend .green-blob-1;
  }


.icon.green-circle-1 {
  &:before {
      background-position: 0em -110.16666666666667em;
      width: 4.5em;
      height: 4.583333333333333em;
    }
  }

  @mixin icon-green-circle-1(){
    @extend .green-circle-1;
  }


.icon.green-circle-2 {
  &:before {
      background-position: 0em -114.75em;
      width: 2.9166666666666665em;
      height: 3.0833333333333335em;
    }
  }

  @mixin icon-green-circle-2(){
    @extend .green-circle-2;
  }


.icon.green-curve-1 {
  &:before {
      background-position: 0em -117.83333333333333em;
      width: 5.583333333333333em;
      height: 1.25em;
    }
  }

  @mixin icon-green-curve-1(){
    @extend .green-curve-1;
  }


.icon.green-curve-3 {
  &:before {
      background-position: 0em -119.08333333333333em;
      width: 5.166666666666667em;
      height: 4.25em;
    }
  }

  @mixin icon-green-curve-3(){
    @extend .green-curve-3;
  }


.icon.green-dash-1 {
  &:before {
      background-position: 0em -123.33333333333333em;
      width: 3.9166666666666665em;
      height: 7.416666666666667em;
    }
  }

  @mixin icon-green-dash-1(){
    @extend .green-dash-1;
  }


.icon.green-dash-3 {
  &:before {
      background-position: 0em -130.75em;
      width: 7.166666666666667em;
      height: 4.333333333333333em;
    }
  }

  @mixin icon-green-dash-3(){
    @extend .green-dash-3;
  }


.icon.green-dash-4 {
  &:before {
      background-position: 0em -135.08333333333334em;
      width: 9.5em;
      height: 4.5em;
    }
  }

  @mixin icon-green-dash-4(){
    @extend .green-dash-4;
  }


.icon.green-dot-1 {
  &:before {
      background-position: 0em -139.58333333333334em;
      width: 2.8333333333333335em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-green-dot-1(){
    @extend .green-dot-1;
  }


.icon.green-dot-2 {
  &:before {
      background-position: 0em -142.5em;
      width: 3.0833333333333335em;
      height: 3.1666666666666665em;
    }
  }

  @mixin icon-green-dot-2(){
    @extend .green-dot-2;
  }


.icon.green-line-1 {
  &:before {
      background-position: 0em -145.66666666666666em;
      width: 2.5833333333333335em;
      height: 1em;
    }
  }

  @mixin icon-green-line-1(){
    @extend .green-line-1;
  }


.icon.green-plus-1 {
  &:before {
      background-position: 0em -146.66666666666666em;
      width: 2.5833333333333335em;
      height: 2.5em;
    }
  }

  @mixin icon-green-plus-1(){
    @extend .green-plus-1;
  }


.icon.green-square-1 {
  &:before {
      background-position: 0em -149.16666666666666em;
      width: 3.9166666666666665em;
      height: 3.75em;
    }
  }

  @mixin icon-green-square-1(){
    @extend .green-square-1;
  }


.icon.green-square-2 {
  &:before {
      background-position: 0em -152.91666666666666em;
      width: 3.25em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-green-square-2(){
    @extend .green-square-2;
  }


.icon.green-triangle-1 {
  &:before {
      background-position: 0em -155.83333333333334em;
      width: 4.083333333333333em;
      height: 3.9166666666666665em;
    }
  }

  @mixin icon-green-triangle-1(){
    @extend .green-triangle-1;
  }


.icon.green-wave-1 {
  &:before {
      background-position: 0em -159.75em;
      width: 9.666666666666666em;
      height: 1.5em;
    }
  }

  @mixin icon-green-wave-1(){
    @extend .green-wave-1;
  }


.icon.green-wave-2 {
  &:before {
      background-position: 0em -161.25em;
      width: 9.333333333333334em;
      height: 1.8333333333333333em;
    }
  }

  @mixin icon-green-wave-2(){
    @extend .green-wave-2;
  }


.icon.green-zigzag-1 {
  &:before {
      background-position: 0em -163.08333333333334em;
      width: 5.5em;
      height: 2.5833333333333335em;
    }
  }

  @mixin icon-green-zigzag-1(){
    @extend .green-zigzag-1;
  }


.icon.pink-curve-1 {
  &:before {
      background-position: 0em -165.66666666666666em;
      width: 5.5em;
      height: 1.25em;
    }
  }

  @mixin icon-pink-curve-1(){
    @extend .pink-curve-1;
  }


.icon.pink-dash-3 {
  &:before {
      background-position: 0em -166.91666666666666em;
      width: 7.166666666666667em;
      height: 4.333333333333333em;
    }
  }

  @mixin icon-pink-dash-3(){
    @extend .pink-dash-3;
  }


.icon.pink-dash-4 {
  &:before {
      background-position: 0em -171.25em;
      width: 9.5em;
      height: 4.5em;
    }
  }

  @mixin icon-pink-dash-4(){
    @extend .pink-dash-4;
  }


.icon.pink-line-1 {
  &:before {
      background-position: 0em -175.75em;
      width: 2.5833333333333335em;
      height: 1em;
    }
  }

  @mixin icon-pink-line-1(){
    @extend .pink-line-1;
  }


.icon.pink-plus-1 {
  &:before {
      background-position: 0em -176.75em;
      width: 2.5833333333333335em;
      height: 2.5em;
    }
  }

  @mixin icon-pink-plus-1(){
    @extend .pink-plus-1;
  }


.icon.pink-square-1 {
  &:before {
      background-position: 0em -179.25em;
      width: 3.9166666666666665em;
      height: 3.75em;
    }
  }

  @mixin icon-pink-square-1(){
    @extend .pink-square-1;
  }


.icon.pink-square-2 {
  &:before {
      background-position: 0em -183em;
      width: 3.25em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-pink-square-2(){
    @extend .pink-square-2;
  }


.icon.pink-triangle-1 {
  &:before {
      background-position: 0em -185.91666666666666em;
      width: 4.166666666666667em;
      height: 3.9166666666666665em;
    }
  }

  @mixin icon-pink-triangle-1(){
    @extend .pink-triangle-1;
  }


.icon.pink-wave-1 {
  &:before {
      background-position: 0em -189.83333333333334em;
      width: 9.666666666666666em;
      height: 1.5em;
    }
  }

  @mixin icon-pink-wave-1(){
    @extend .pink-wave-1;
  }


.icon.pink-zigzag-1 {
  &:before {
      background-position: 0em -191.33333333333334em;
      width: 5.5em;
      height: 2.5833333333333335em;
    }
  }

  @mixin icon-pink-zigzag-1(){
    @extend .pink-zigzag-1;
  }


.icon.purple-curve-1 {
  &:before {
      background-position: 0em -193.91666666666666em;
      width: 5.5em;
      height: 1.25em;
    }
  }

  @mixin icon-purple-curve-1(){
    @extend .purple-curve-1;
  }


.icon.purple-dash-3 {
  &:before {
      background-position: 0em -195.16666666666666em;
      width: 7.166666666666667em;
      height: 4.416666666666667em;
    }
  }

  @mixin icon-purple-dash-3(){
    @extend .purple-dash-3;
  }


.icon.purple-dash-4 {
  &:before {
      background-position: 0em -199.58333333333334em;
      width: 9.5em;
      height: 4.5em;
    }
  }

  @mixin icon-purple-dash-4(){
    @extend .purple-dash-4;
  }


.icon.purple-line-1 {
  &:before {
      background-position: 0em -204.08333333333334em;
      width: 2.5833333333333335em;
      height: 1em;
    }
  }

  @mixin icon-purple-line-1(){
    @extend .purple-line-1;
  }


.icon.purple-plus-1 {
  &:before {
      background-position: 0em -205.08333333333334em;
      width: 2.5833333333333335em;
      height: 2.5em;
    }
  }

  @mixin icon-purple-plus-1(){
    @extend .purple-plus-1;
  }


.icon.purple-square-1 {
  &:before {
      background-position: 0em -207.58333333333334em;
      width: 3.9166666666666665em;
      height: 3.75em;
    }
  }

  @mixin icon-purple-square-1(){
    @extend .purple-square-1;
  }


.icon.purple-square-2 {
  &:before {
      background-position: 0em -211.33333333333334em;
      width: 3.25em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-purple-square-2(){
    @extend .purple-square-2;
  }


.icon.purple-triangle-1 {
  &:before {
      background-position: 0em -214.25em;
      width: 4.166666666666667em;
      height: 3.9166666666666665em;
    }
  }

  @mixin icon-purple-triangle-1(){
    @extend .purple-triangle-1;
  }


.icon.purple-wave-1 {
  &:before {
      background-position: 0em -218.16666666666666em;
      width: 9.666666666666666em;
      height: 1.5em;
    }
  }

  @mixin icon-purple-wave-1(){
    @extend .purple-wave-1;
  }


.icon.purple-zigzag-1 {
  &:before {
      background-position: 0em -219.66666666666666em;
      width: 5.5em;
      height: 2.5833333333333335em;
    }
  }

  @mixin icon-purple-zigzag-1(){
    @extend .purple-zigzag-1;
  }


.icon.tree-1 {
  &:before {
      background-position: 0em -222.25em;
      width: 7.333333333333333em;
      height: 10.916666666666666em;
    }
  }

  @mixin icon-tree-1(){
    @extend .tree-1;
  }


.icon.tree-2 {
  &:before {
      background-position: 0em -233.16666666666666em;
      width: 8.5em;
      height: 11.416666666666666em;
    }
  }

  @mixin icon-tree-2(){
    @extend .tree-2;
  }


.icon.tree-3 {
  &:before {
      background-position: 0em -244.58333333333334em;
      width: 5.5em;
      height: 7.166666666666667em;
    }
  }

  @mixin icon-tree-3(){
    @extend .tree-3;
  }


.icon.tree-4 {
  &:before {
      background-position: 0em -251.75em;
      width: 3.75em;
      height: 4.333333333333333em;
    }
  }

  @mixin icon-tree-4(){
    @extend .tree-4;
  }


.icon.tree-5 {
  &:before {
      background-position: 0em -256.0833333333333em;
      width: 6.583333333333333em;
      height: 8em;
    }
  }

  @mixin icon-tree-5(){
    @extend .tree-5;
  }


.icon.yellow-curve-1 {
  &:before {
      background-position: 0em -264.0833333333333em;
      width: 5.5em;
      height: 1.25em;
    }
  }

  @mixin icon-yellow-curve-1(){
    @extend .yellow-curve-1;
  }


.icon.yellow-dash-3 {
  &:before {
      background-position: 0em -265.3333333333333em;
      width: 7.166666666666667em;
      height: 4.333333333333333em;
    }
  }

  @mixin icon-yellow-dash-3(){
    @extend .yellow-dash-3;
  }


.icon.yellow-dash-4 {
  &:before {
      background-position: 0em -269.6666666666667em;
      width: 9.416666666666666em;
      height: 4.5em;
    }
  }

  @mixin icon-yellow-dash-4(){
    @extend .yellow-dash-4;
  }


.icon.yellow-line-1 {
  &:before {
      background-position: 0em -274.1666666666667em;
      width: 2.5833333333333335em;
      height: 1em;
    }
  }

  @mixin icon-yellow-line-1(){
    @extend .yellow-line-1;
  }


.icon.yellow-plus-1 {
  &:before {
      background-position: 0em -275.1666666666667em;
      width: 2.5833333333333335em;
      height: 2.5em;
    }
  }

  @mixin icon-yellow-plus-1(){
    @extend .yellow-plus-1;
  }


.icon.yellow-square-1 {
  &:before {
      background-position: 0em -277.6666666666667em;
      width: 3.9166666666666665em;
      height: 3.75em;
    }
  }

  @mixin icon-yellow-square-1(){
    @extend .yellow-square-1;
  }


.icon.yellow-square-2 {
  &:before {
      background-position: 0em -281.4166666666667em;
      width: 3.25em;
      height: 2.9166666666666665em;
    }
  }

  @mixin icon-yellow-square-2(){
    @extend .yellow-square-2;
  }


.icon.yellow-triangle-1 {
  &:before {
      background-position: 0em -284.3333333333333em;
      width: 4.166666666666667em;
      height: 3.9166666666666665em;
    }
  }

  @mixin icon-yellow-triangle-1(){
    @extend .yellow-triangle-1;
  }


.icon.yellow-wave-1 {
  &:before {
      background-position: 0em -288.25em;
      width: 9.666666666666666em;
      height: 1.5em;
    }
  }

  @mixin icon-yellow-wave-1(){
    @extend .yellow-wave-1;
  }


.icon.yellow-zigzag-1 {
  &:before {
      background-position: 0em -289.75em;
      width: 5.5em;
      height: 2.5833333333333335em;
    }
  }

  @mixin icon-yellow-zigzag-1(){
    @extend .yellow-zigzag-1;
  }



