// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colours
$blue:        #7AD3DF;
$green:       #ACE97F;
$yellow:      #EEDA7F;
$pink:        #FFB5BF;
$purple:      #CE91C3;
$orange:      #F0AE6E;

$white:       #fff;
$off-white:   #F8F7F4;

$grey:        #ACACAC;
$light-grey:  #CECECE;
$mid-grey:    #9B9B9B;
$dark-grey:   #494949;

// Links
$link-hover-decoration: none;

$nav-link-padding-y:    .3125rem;
$nav-link-padding-x:    0;

// Overwrite colour vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$colors: (
  blue:       $blue,
  green:      $green,
  yellow:     $yellow,
  pink:       $pink,
  purple:     $purple,
  orange:     $orange,
  white:      $white,
  off-white:  $off-white,
  grey:       $grey,
  light-grey: $light-grey,
  mid-grey:   $mid-grey,
  dark-grey:  $dark-grey
);

// Fonts
// Import custom font family
@font-face {
  font-family: 'biko';
  src:  url('../../assets/fonts/Biko_Regular.otf'),
        url('../../assets/fonts/biko_regular-webfont.woff2') format('woff2'),
        url('../../assets/fonts/biko_regular-webfont.woff') format('woff'),
        url('../../assets/fonts/biko_regular-webfont.tff') format('truetype');
}
@font-face {
  font-family: 'biko';
  src:  url('../../assets/fonts/Biko_Bold.otf'),
        url('../../assets/fonts/biko_bold-webfont.woff2') format('woff2'),
        url('../../assets/fonts/biko_bold-webfont.woff') format('woff'),
        url('../../assets/fonts/biko_bold-webfont.tff') format('truetype');
  font-weight: bold;
}

// Overwrite font vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$font-family-sans-serif: 'sofia-pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-base:          1rem;    // 16px
$font-size-lg:            1.25rem; // 20px
$font-size-sm:            .875rem; // 14px
$font-size-xs:            .75rem;  // 12px

$line-height-base:        1.6;

$h1-font-size:            2.5rem;    // 40px
$h2-font-size:            1.75rem;   // 28px
$h3-font-size:            1.5rem;    // 24px
$h4-font-size:            1.375rem;  // 22px

$headings-font-family:    'biko', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight:    600;
$headings-line-height:    1.2;
$headings-color:          $dark-grey;

$headings-margin-bottom:  0;

// Colour
// Overwrite colour vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$body-color: $mid-grey;

// Spacing
// Overwrite spacer vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),   // 4px
  2: ($spacer * .5),    // 8px
  3: $spacer,           // 16px
  4: ($spacer * 1.5),   // 24px
  5: ($spacer * 2),     // 32px
  6: ($spacer * 2.5),   // 40px
  7: ($spacer * 3)      // 48px
) !default;

$extend-content-margin-bottom: 5rem;

$header-margin-bottom:  5.75rem;
$header-padding-y:      4.375rem;

// Container
// Overwrite container vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1220px
) !default;

// Modal
// Overwrite modal vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$modal-dialog-margin:     1.6875rem;

$modal-backdrop-bg:       $white;
$modal-backdrop-opacity:  0;

$modal-transition:        transform 1.3s ease-out;


// Breadcrumbs
// Overwrite breadcrumbs vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$breadcrumb-padding-y:    1.875rem; //30px
$breadcrumb-padding-x:    .75rem;
$breadcrumb-bg:           inherit;

// Forms
// Overwrite form vars in ../../../bower_components/bootstrap/scss/bootstrap.scss
$input-bg:                 #f5f3f0;
$input-disabled-bg:        $light-grey;

$input-color:              $dark-grey;
$input-border-color:       rgba($mid-grey ,0.12);
$input-border-radius:      3px;

// Custom form controls
$custom-control-indicator-bg:               darken($input-bg, 5%);
$custom-control-indicator-active-bg:        $yellow;
$custom-control-indicator-bg-size:          75%;
$custom-control-indicator-active-color:     $yellow;
$custom-control-indicator-checked-color:    $yellow;

$custom-control-border-checked:             solid 1px darken($input-bg, 5%);
$custom-control-bg-colour-checked:          $white;

$custom-control-label-disabled-color:       $grey;
$custom-control-indicator-disabled-bg:      $grey;
