.site-footer {
  padding: 4.375rem 0;
  background: $off-white;

  .container-fluid {
    @include media-breakpoint-up(md) {
      padding: 0 3.5rem;
    }

    @include media-breakpoint-only(lg) {
      padding: 0 1.5rem;
    }
  }

  .secondary-menu {
    padding: 4.375rem 0 0;
  }

  .navbar-brand {
    @include media-breakpoint-down(lg) {
      margin: 0 auto;
    }

    @include media-breakpoint-only(md) {
      margin-bottom: 3rem;
    }

    img {
      max-width: 210px;

      @include media-breakpoint-up(md) {
        max-width: 225px;
      }
    }
  }

  .navbar-toggler {
    @include media-breakpoint-up(md) {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}

.copyright-container {
  order: 1;
  text-align: center;

  @include media-breakpoint-up(xl) {
    order: 0;
    text-align: left;
  }
}

.contact-details {
  font-family: $font-family-sans-serif;
  text-align: center;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  h2 {
    padding: 0 2px;
    font-size: 1.3125rem;
  }

  p {
    margin-bottom: .5rem;
    font-size: 1rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .ofsted-logo {
    width: auto;
    height: 100px;
  }
}
