// Home Page
.block-intro {
  position: relative;
  &__content {
    [class*="col"][class*="bg-is-"] {
        padding: 2.3125rem 1.5625rem;
        color: $white;

        @include media-breakpoint-up(md) {
          padding: 5rem 4.75rem;
          max-width: 740px;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 15.75rem;
          @include shadow(1.2rem, .13);
        }

        p {
          font-weight: 600;
          line-height: 1.32;
          text-shadow: 1px 2px 0 rgba(0,0,0,.03);
          font-size: 1.375rem;

          @include media-breakpoint-up(lg) {
            font-size: 2.0625rem;
          }
        }
      }


    [class*="col"] {
      padding: 0 1.5625rem;
      color: $grey;
      font-family: $font-family-sans-serif;
      font-size: 1.0625rem;
    }

    p {
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        margin: 0 auto;
        max-width: 630px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.3125rem;
      }
    }
  }

  h2 {
    @include title;
  }

}

.page {
  &-content {
    h2 {
      @include title;
      margin-top: 5.75rem;

      &:first-child {
        margin-top: 0;
      }
    }

    h2, h3, h4, h5, h6,
    p, ol, ul, table {
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 700px;
    }
  }

  figure {
    display: block;
    margin: 1.875rem auto 5.3125rem;

    @include media-breakpoint-up(lg) {
      margin: 5rem;
      margin-bottom: 9.35rem;
    }
  }

  figcaption {
    margin-top: 1.375rem;
  }
}
