.page-header {
  position: relative;
  margin-bottom: $header-margin-bottom;
  padding-top: $header-padding-y;
  padding-bottom: $header-padding-y;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }

  p {
    font-size: 1.1875rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.3125rem;
    }
  }

  .logo {
    margin-bottom: 2.4375rem;
    max-width: 223px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 3.4375rem;
      max-width: 347px;
    }
  }

  &.image {
    h1 {
      color: $white;
      text-shadow: 1px 1px 0px #000;
    }
  }
}

// .search,
// .error404 {
//   .page-header {
//     .green-circle-1,
//     .blue-curve-1,
//     .purple-curve-1 {
//       @include hide;
//     }
//
//     .green-circle-2 {
//       left: 40%;
//
//       @include media-breakpoint-up(sm) {
//         top: 5%;
//       }
//       @include media-breakpoint-up(lg) {
//         top: 10%;
//       }
//     }
//     .green-circle-1 {
//       left: 37%;
//
//       @include media-breakpoint-up(sm) {
//         top: 7%;
//         left: 34%;
//       }
//       @include media-breakpoint-up(lg) {
//         top: 13%;
//       }
//     }
//     .green-blob-1 {
//       top: 10%;
//       right: 10%;
//     }
//     .blue-curve-1 {
//       top: 20%;
//       right: 30%;
//     }
//     .pink-zigzag-1 {
//       top: 50%;
//       left: -1%;
//
//       @include media-breakpoint-up(sm) {
//         left: 5%;
//       }
//
//       @include media-breakpoint-up(lg) {
//         left: 10%;
//       }
//     }
//     .yellow-dash-4 {
//       bottom: -3%;
//       left: 20%;
//     }
//     .green-square-1 {
//       bottom: -1%;
//     }
//     .purple-curve-1 {
//       right: 20%;
//     }
//   }
// }

.layout_1 {
  .blue-dot-1 {
    top: -1%;
    left: 40%;
  }
  .green-circle-1 {
    top: 10%;
    left: 17%;
  }
  .green-circle-2 {
    top: 20%;
    left: 15%;
  }
  .pink-zigzag-1 {
    top: 50%;
    left: 1%;
  }
  .yellow-dash-4 {
    left: 10%;
    bottom: -2%;
  }
  .blue-square-1 {
    left: 40%;
    bottom: -1%;
  }
  .green-blob-1 {
    top: 10%;
    right: 10%;
  }
  .pink-line-1 {
    right: 40%;
    bottom: 10%;
  }
  .purple-curve-1 {
    right: 20%;
  }
  .blue-wave-1 {
    @include hide;
    @include media-breakpoint-up(lg) {
      top: 25%;
      right: 25%;
    }
  }
  .yellow-wave-1 {
    top: 48%;
    right: -1%;
  }
}

.layout_2 {
  .purple-square-1 {
    top: 5%;
    left: -1%;
  }
  .pink-square-2 {
    top: 25%;
    left: 15%;
  }
  .blue-plus-1 {
    top: 50%;
    left: 10%;
  }
  .blue-plus-1.alt {
    top: -1%;
    left: 50%;
  }
  .green-dot-1 {
    top: 20%;
    left: 30%;
  }
  .green-square-1 {
    bottom: 10%;
    left: 5%;
  }
  .purple-zigzag-1 {
    bottom: 0;
    left: 30%;
  }
  .yellow-dash-4 {
    bottom: 5%;
  }
  .yellow-dash-3 {
    top: 7%;
    right: 27%;
  }
  .blue-wave-1 {
    top: 15%;
    right: 15%;
  }
  .pink-triangle-1 {
    right: 30%;
    bottom: 12%;
  }
  .green-blob-1 {
    top: 30%;
    right: 7%;
  }
  .yellow-square-1 {
    @include hide;
    @include media-breakpoint-up(lg) {
      top: 55%;
      right: 12%;
    }
  }
  .purple-plus-1 {
    right: 10%;
    bottom: 15%;
  }
}

.layout_3 {
  .blue-circle-1 {
    top: 10%;
    left: 5%;
  }
  .green-blob-1 {
    top: 50%;
    left: 0;
  }
  .pink-triangle-1 {
    top: 15%;
    left: 20%;
  }
  .blue-zigzag-1 {
    bottom: 3%;
    left: 6%;
  }
  .purple-wave-1 {
    left: 17%;
    bottom: 15%;
  }
  .green-plus-1 {
    left: 45%;
    bottom: 13%;
  }
  .blue-curve-3 {
    top: 0;
    right: 30%;
  }
  .green-circle-2 {
    top: 25%;
    right: 15%;
  }
  .green-circle-2.alt {
    top: 21%;
    right: 13%;
  }
  .yellow-wave-1 {
    top: 3%;
    right: 5%;
  }
  .blue-dash-4 {
    right: -2%;
    bottom: 40%;
  }
  .purple-square-2 {
    right: 15%;
    bottom: 20%;
  }
  .pink-square-1 {
    right: 35%;
    bottom: -1%;
  }
}

.layout_4 {
  .pink-square-1 {
    top: 5%;
    left: 4%;
  }
  .blue-circle-1 {
    top: 50%;
    left: -0.5%;
  }
  .green-triangle-1 {
    bottom: 2%;
    left: 10%;
  }
  .green-curve-3 {
    top: 12%;
    left: 15%;
  }
  .blue-circle-2 {
    left: 15%;
    bottom: 35%;
  }
  .blue-square-1 {
    left: 25%;
    bottom: -3%;
  }
  .blue-plus-1 {
    top: 10%;
    left: 35%;
  }
  .green-dot-1 {
    top: -1%;
    left: 50%;
  }
  .yellow-dash-4 {
    bottom: 2%;
    left: 40%;
  }
  .purple-curve-1 {
    bottom: 5%;
    right: 35%;
  }
  .yellow-square-1 {
    top: 7%;
    right: 25%;
  }
  .green-circle-2 {
    right: 15%;
    bottom: -1%;
  }
  .green-circle-2.alt {
    right: 16%;
    bottom: 7%;
  }
  .blue-triangle-1 {
    top: 12%;
    right: 7%;
  }
  .purple-square-2 {
    right: 10%;
    bottom: 5%;
  }
  .pink-triangle-1 {
    top: 50%;
    right: -0.5%;
  }
}

.layout_5 {
  .blue-line-1 {
    top: 15%;
    left: 7%;
  }
  .green-zigzag-1 {
    bottom: 30%;
    left: -0.5%;
  }
  .blue-circle-2 {
    bottom: 5%;
    left: 3%;
  }
  .purple-plus-1 {
    top: 30%;
    left: 17%;
  }
  .purple-square-1 {
    bottom: 25%;
    left: 15%;
  }
  .green-blob-1 {
    top: -1%;
    left: 25%;
  }
  .yellow-wave-1 {
    top: 22%;
    left: 30%;
  }
  .yellow-dash-3 {
    bottom: -0.5%;
    left: 27%;
  }
  .blue-curve-3 {
    bottom: -1%;
    left: 45%;
  }
  .green-square-1 {
    top: 10%;
    right: 25%;
  }
  .pink-plus-1 {
    right: 35%;
    bottom: 10%;
  }
  .purple-square-2 {
    top: -1%;
    right: 10%;
  }
  .green-dot-1 {
    top: 45%;
    right: 20%;
  }
  .blue-triangle-1 {
    right: 7%;
    bottom: 25%;
  }
  .yellow-square-1 {
    right: 17%;
    bottom: -2%;
  }
}

.forest_school {
  [class*='tree'] {
    bottom: 0;
  }
  [class*='dash'] {
    top: 15%;
    font-size: 12px;
  }
  .blue-dash-3 {
    right: 0;
    @include media-breakpoint-up(lg) {
      right: auto;
      left: 30%;
    }
  }
  .blue-dash-4 {
    right: 20%;
    @include hide;
  }

  .tree-3 {
    left: 20%;
  }
  .tree-3.alt {
    left: auto;
    right: 17%;
  }
  .tree-4 {
    bottom: 10%;
    left: 35%;
  }
  .tree-5 {
    left: 4%;
    @include media-breakpoint-up(lg) {
      left: 12%;
    }
  }
  .tree-5.alt {
    left: auto;
    right: 35%;
  }
  .tree-3.alt,
  .tree-4,
  .tree-5.alt {
    @include hide;
  }
  .tree-3,
  .tree-4,
  .tree-5.alt {
    font-size: 9px;
    @include media-breakpoint-up(lg) {
      font-size: 15px;
    }
  }
  .tree-5,
  .tree-3.alt {
    font-size: 12px;
    @include media-breakpoint-up(lg){
      font-size: 21px;
    }
  }
}
