@import "components/documents-list";

.useful-downloads {
  @include alt-section-padding;

  p {

    @include media-breakpoint-up(lg) {
      font-size: 1.125rem;
    }

    &:first-child {
      color: $dark-grey;
      font-weight: 600;
    }
  }
}

// Recent posts in Parent corner
.parent-corner {
  section {
    h2 {
      margin-bottom: .75rem;
      font-family: $font-family-sans-serif;
      font-size: 1.0625rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 1.125rem;
      }
    }
  }

  article {
    footer {
      margin-bottom: 1.5rem;
      border-top: none;
      padding-top: 0;

      @include media-breakpoint-up(lg) {
        margin-bottom: 2rem;
      }

      ul {
        margin-bottom: 0;
      }

      li {
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .latest-post {
    h2 {
      margin-top: map-get($spacers, 4);

      @include media-breakpoint-up(sm) {
        font-size: $h3-font-size;
      }
    }

    footer {
      @include media-breakpoint-up(sm) {
        border: none;
      }
    }
  }

  .post-list {
    article footer {
      border-bottom: solid 3px rgba($light-grey, .5);
    }
  }
}
