// Posts
.posts {
  position: relative;

  h2 {
    margin-bottom: .75rem;
    font-size: 1.375rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 1rem;
    }
      a {
        color: $dark-grey;
      }
  }

  p {
    @include word-wrap();
  }

  figure {
    position: relative;
    margin: 0 0 2.625rem 0;
    width: 100%;
    height: 265px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 2.5rem;
      height: 400px;
    }

    img {
      position: absolute;
      width: auto;
      max-height: 265px;

      @include media-breakpoint-up(lg) {
        max-height: 100%;
      }
    }
  }
}

// Homepage and Parent Corner
.latest-post {
  margin-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    margin-bottom: 7.375rem;
  }

  h2 {
    font-size: 1.75rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 2rem;
      font-size: 2.0625rem;
    }
  }

  &-footer {
    border-top: solid 3px rgba($light-grey, .5);
    padding-top: 2rem;
  }
}

// Blog
.blog {
  .latest-post {
    margin-bottom: 0;
    padding-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      padding-bottom: 6.25rem;
    }
  }
  .posts {
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
      margin-bottom: 7.375rem;
    }
  }
}


// Categories
.entry-meta {
  margin-bottom: 0;
  padding-left: 0;

  li, .cat-item {
    display: inline-block;
    margin-right: 1.3125rem;
    font-size: $font-size-xs;
    font-weight: 600;
    color: $grey;
    text-transform: uppercase;
  }
}
.cat-item {
  border-radius: 5px;
  letter-spacing: 1px;

  a {
    color: $white;
    display: inline-block;
    padding: .375rem .625rem;
  }
}

.show-more {
  @extend .cat-item;
  cursor: pointer;

  span {
    color: $white;
  }
}

// Single
.single {
  a {
    @include word-wrap;
  }

  .post-content {
    p {
      color: $dark-grey;

      @include media-breakpoint-up(lg) {
        font-size: $font-size-lg;
      }
    }

    p:first-child {
      font-size: $font-size-lg;
      font-weight: 600;
      line-height: 1.2;

      @include media-breakpoint-up(lg) {
        font-size: $font-size-lg + .625rem; // + 10px
      }
    }

    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  .post-footer {
    @extend .latest-post-footer;
    margin-top: 3rem;
    margin-bottom: 7.1875rem;
  }

  .breadcrumb-item {
    margin-right: 1.3125rem;

    span {
      padding-right: 5px;
      font-size: 1rem;
      color: $blue;
      vertical-align: initial;
    }
  }
}
