.post-header {
  margin-bottom: 1.75rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: $header-margin-bottom
  }

  .entry-title {
    @extend .page-header;
    margin-bottom: 0;
    padding-top: 2.375rem;
    padding-bottom: 2.375rem;

    @include media-breakpoint-up(lg) {
      padding: 6.25rem 5.625rem;
    }

    h1 {
      color: $white;
      text-align: left;
    }
  }

  figure {
    @include media-breakpoint-down(md) {
      max-height: 320px;
    }

    img {
      position: relative;
      @include media-breakpoint-down(md) {
        width: 100%;
        height: auto;
      }

      @include media-breakpoint-up(lg) {
        right: 25%;
      }
      @include media-breakpoint-up(xl) {
        right: 0;
      }
    }
  }

  .entry-meta {
     @include media-breakpoint-up(lg) {
       margin-bottom: 4rem;
     }

    li {
      color: $white;
    }

    .cat-item {
      background-color: $white;

      a {
        color: $dark-grey;
      }
    }
  }
}
