.blog-header {
  position: relative;
}

.blog-title {
  padding-top: $header-padding-y;
  padding-bottom: $header-padding-y;

  @include media-breakpoint-up(lg) {
    padding-top: 8.5625rem;
    padding-bottom: 5.5625rem;
  }
}
